[2016-09-07 13:14] antoligy commented on #738
Thanks!

As @BartVB has said, this bundle doesn't load any configuration files by its own (That would defeat the purpose if being a Symfony Bundle!), nor does it make any assumptions about environment, so this sounds like a local issue specific to your configuration.

The WebPathResolver [uses a factory to provide the value of `web_root` to its service definition](https://github.com/liip/LiipImagi

[2016-09-08 02:27] robfrawley commented on #782
@lsmith77 @jehaby @antoligy

Created [src-run/liip-imagine-bundle-sandbox](https://github.com/src-run/liip-imagine-bundle-sandbox) as a place for many, disparate developers to have write access and toy with possible directions for this bundle in a collaborative manner. If **anyone** wants access, post here and I'll add you to the group I created on my organization for this purpose: https://github.

[2016-09-08 09:10] lsmith77 commented on #782
no .. haven't made a decision. my gut feeling says its clearer for contributors to know where to point their PRs to if we drop master and just keep 1.0 (as the default branch) and 2.0 ..

so I propose to drop master .. ok?

[2016-09-08 12:17] wieger commented on #666
@mappedinn Hi, I'm trying to achieve the same thing, get liip_imagine on top of Google Cloud Storage. Did you make any progress on this and would you be willing to open-source your solution?

[2016-09-08 16:22] mappedinn commented on #666
@wieger Hi, my solution is described in details here https://github.com/liip/LiipImagineBundle/issues/698

I did not managed to make it work correctly, but it seems that @girayk made it work!

Keep me updated...

[2016-09-09 00:46] robfrawley commented on #786
@antoligy Looks like #788 was merged.

[2016-09-09 00:46] robfrawley commented on #782
Sounds good to me.

[2016-09-09 06:43] antoligy commented on #786
Perfect, thanks for tackling this! Should be a bit easier going forward now.

[2016-09-09 06:43] #786 closed

[2016-09-09 09:39] winter7621 commented on #784
I'm also having this problem, but only for some filter_sets.

    filter_sets:
        ash_small:
            data_loader: aws_loader
            cache: aws
            filters:
                thumbnail: { size: [120, 90], mode: outbound }

The above is my config file setup. I'm working with Symfony CMF Blocks and if I use the default `slideshow_medium` filter, the filter works OK. But if I use m

[2016-09-09 10:34] robfrawley commented on #782
@lsmith77  FYI: Right now master is ahead of 1.0 and 2.0

[2016-09-09 12:35] jehaby commented on #782
+

[2016-09-09 13:57] robfrawley commented on #782
@jehaby Invitation sent last night, actually. ;-)

[2016-09-09 14:01] robfrawley commented on #784
So, your config is simple and quite standard. There is nothing about it that would advice me as to why you are experiencing issues. Are you sure images are not being generated? The `resolve` string should be in the URL on the first request...

[2016-09-09 21:42] cedricziel commented on #784
Sorry for not coming back to this earlier. nginx shortcircuited request to assets so the filesystem which resulted in 404s and thus not generating correct URLs even on second load.

Removing the shortcurcuiting resolved my issue. Plus it's a little embarassing :)

[2016-09-09 22:14] robfrawley commented on #784
@cedricziel Don't ever be embarrassed to explain the resolution to your issue, regardless of the origin of the malfunction. The absolute rock-stars of our field make the same mistakes as everyone else, and sharing it only serves to help others avoid banging their head against the wall suffering the same misconfiguration.

(If you ever happen upon a GitHub issue tracker who's members that pokes fun

[2016-09-09 22:42] cedricziel commented on #784
Hey @robfrawley , thank you so much for encouraging a proper and open communication style on issues. Reading your answer made me smile and boosts confidence! :)

Did you solve your problems as well, @phong-steph ? Maybe - and only mabye - you're bitten by the same problem. :)

[2016-09-11 20:47] retosteffen commented on #750
Hi,
Sorry was travelling but will check it this is still an issue (it was a month ago) and provide a test case this week.

[2016-09-12 11:32] makasim commented on #782
There are my thoughts on what could be done in 2.x version: https://github.com/liip/LiipImagineBundle/issues/686

[2016-09-12 14:37] retosteffen commented on #750
@antoligy
Here is the script that doesn't work for me. It's supposed to make a PNG image square and then mask it with a circle so that the outer part of the circle is transparent.
If I export the mask as the image it gives the "right" result, i.e. a black circle with a transparent background.

[code]

Let me know if you need anything else.
Thanks!

[2016-09-12 14:39] antoligy commented on #750
Thanks for this, I'll take a look most likely this evening! 😄

[2016-09-12 14:43] antoligy commented on #782
Looks good, I believe most of those have already been merged into the revised OP for this Issue, but maybe it's worth going through with a fine-toothed comb?

e.g. We've agreed that the new minimum PHP version should be 5.6 (despite Symfony still supporting 2.5; this will allow us to improve the reliability of tests, whilst allowing us to backport features with relatively little effort to the 1.0

[2016-09-12 21:22] robfrawley commented on #782
@antoligy (think you meant to say "...despite Symfony still supporting **5.5**...")

If someone wants to start outlining v2, I've opened up the WIKI in my sandbox repo for all to edit: https://github.com/src-run/liip-imagine-bundle-sandbox/wiki

[2016-09-13 13:28] phong-steph commented on #784
Hello,

Yep it solved it! thank you ;)

[2016-09-13 13:28] #784 closed

[2016-09-13 13:35] DavidGarciaCat opened #794 "From time to time, site returns an Exception caused by CURL"
Hello there,

I am working on a project that uses this vendor, and (just) from time to time (not all requests) the site returns a `Twig_Error_Runtime` exception, caused because `|imagine_filter('filter_name')` gets the CURL error 52

This is the cURL error

Nothing was returned from the server, and under the circumstances, getting nothing is considered an error.

And this is my logged error:
[code

[2016-09-13 13:41] antoligy commented on #794
Hey!

There are two AWS cache drivers, both `amazon` and `aws` - Which in particular are you using?

I'm not sure that specifically handling cURL is something that falls within the concerns of this bundle, or the Imagine library - That's something which to my mind should live within the resolution layer.
If I understand correctly you're trying to load images from S3?  Instead of piping the output

[2016-09-13 14:12] DavidGarciaCat commented on #794
hello @antoligy

This is the content on my `imagine.yml` config file:
[code]

One of my entities - the one that I use on that template:line - has a `webPath` property so I run this code: `{{ object.webPath|imagine_filter('filter_name') }}`

`object.webPath` provides an URL like this: `{year}/{month}/{day}/{hash}.{extension}`

I double checked that path on S3 and it exists. That is why some times i

[2016-09-16 20:38] robfrawley opened #798 "[Documentation] Create detailed tutorial on compiling RST locally for testing purposed"
Having struggled through the difficulty of compiling and testing my updating RST documentation (see PR #789), I believe it would be a good idea to offer documentation on _how to build the RST documentation_, as well as possibly include a build script to do it automatically on compatible systems. This may make it easier for others to contribute (and test their contributions) to the RST docs.

Havin

[2016-09-19 07:37] lsmith77 commented on #746
things are really looking good now with so much activity!

thx @cedricziel, @robfrawley and @antoligy for stepping up!

[2016-09-19 07:37] #746 closed

[2016-09-20 11:06] ktrzos opened #801 "Can't create thumbnail for JPEG"
I have an error with JPEG images. Your bundle don't want to create thumbnail for this file (and yes, file is uploaded properly):
http://image.prntscr.com/image/69ce55e73e264f18be5ba4bcdfc8b7fe.png

Code in Twig:

[code]

Config:
[code]

[2016-09-20 12:01] robfrawley commented on #801
@ktrzos Are any exceptions getting thrown in the image-related requests? Check your log file; information as to why it is not generating is needed before I can provide guidance.

You can also just click the link in chrome developer tools and see if the page throws an exception that way, as well.

[2016-09-20 12:16] ktrzos commented on #801
This is only entry from log:

[code]

So, no errors. Neither in browser.

But.... went by the link of this image:

[code]

[2016-09-20 12:33] robfrawley commented on #782
@makasim Yeah, 5.5 for me is a no-go, both from the perspective of enjoying a regularly using features that it doesn't support, but also from the perspective of being a positive force in the community by helping force people off of EOL (end of life) PHP releases. If libraries/etc don't require it, people won't ask their shared host to support it, and people will continue to use EOL releases and up

[2016-09-20 12:41] robfrawley commented on #782
@lsmith77

We should figure out the branch situation, as it is a bit confusing to look at Packagist at the moment: https://packagist.org/packages/liip/imagine-bundle#dev-master

After some more though, I don't think we should drop master, as I believe it will make branch aliasing not function correctly (correct me if I'm wrong). Something like this won't work if we only have a 1.x and 2.x branch:

[2016-09-20 12:47] robfrawley commented on #801
[code]

That tells you exactly what the issue is! ;-) The image transformation process is exceeding the max memory setting you have in your PHP configuration file. The location of you PHP ini file can be found by running `php -i | grep "Loaded Configuration File"` which will return something like `/etc/php/7.0/cli/php.ini`.

Now, that is your CLI config, you need to also edit the config for FPM/CG

[2016-09-20 21:14] robfrawley commented on #798
Ping @javiereguiluz - any insights would be amazing.

[2016-09-20 21:36] #731 closed

[2016-09-21 05:34] ktrzos commented on #801
Thanks for help ;).

[2016-09-21 05:34] #801 closed

[2016-09-21 11:43] robfrawley commented on #801
@ktrzos Glad I could help!

[2016-09-22 13:29] pdoreau commented on #698
Thanks guys!
@mappedinn have you finally made it with the girayk's solution ?
Do you guys think this could be integreted into the git repository ?

[2016-09-22 15:02] cedricziel commented on #698
Hey @pdoreau ,

I don't know whether you ask specifically about a Gaufrette stream-wrapper, or GCS. If it's about the latter, we recently merged a flysystem resolver so that you can use the bundle with any given flysystem adapter. Incidentally I happened to write a flysystem adapter for gcs-you might want to have a look (https://github.com/cedricziel/flysystem-gcs).

[2016-09-23 09:59] pdoreau commented on #698
@cedricziel I was asking about a way to use GCS (both for data loader and cache) based on the source code posted in this issue. The method would be [documented](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolver/amazons3.html) beside s3 and others.
Is flysystem another way to make GCS work both for data loader and cache resolver ?

[2016-09-23 10:47] cedricziel commented on #698
Flysystem is a generic way to abstract filesystems. Much like gaufrette. With a flysystem **filesystem** and an **adapter** registered as [documented](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolver/flysystem.html), you can use it, amongst other usages of course, as a way to load pictures and resolve caches with LiipImagineBundle. Yes.

[2016-09-27 15:23] robfrawley commented on #782
Asked for @lsmith77 to enable access to the wiki to some project members so a formal specification for a 2.x release can be publicly solidified. Now that the wiki is enabled, you can find an initial landing page at [liip/LiipImagineBundle/wiki](https://github.com/liip/LiipImagineBundle/wiki). Information from this issue will be migrated to the [development header](https://github.com/liip/LiipImagi

[2016-09-27 15:23] #782 closed

[2016-09-27 16:16] robfrawley opened #806 "Refactor controller business logic to service(s)"
With the `1.x` codebase, the controller defines a large subset of routing and conditional logic between the different objects required to successfully generate and cache a transformed image, and as the current controller interface requires a request object, such must be mocked when called outside a context where a request object is natively available.

This is inconvenient, and can be improved.

T

[2016-09-27 16:51] robfrawley commented on #806
Current work on this feature is being contributed by @jehaby in my [sandbox repository clone](https://github.com/src-run/liip-imagine-bundle-sandbox/pull/2). A formal PR will originate from the sandbox repo once an implementation is finalized, for inclusion in this repo's `2.x` branch.

[2016-09-27 16:57] robfrawley opened #807 "Migrate from PHPUnit 4.x to 5.x"

[2016-09-28 00:15] robfrawley commented on #807
@lsmith77 I just re-assigned and and re-labeled this (I thought it didn't save the first time or something), and then subsequently removed the assignment and label (after seeing you has actually done it). Was that intentional?

[2016-09-30 08:19] Nightbr commented on #726
hey, same error here
Also my folder `media` is symlink (maybe the problem), it works fine without the symlink...

[2016-09-30 09:50] Stuffy opened #808 "Watermark-Filter does not support transparency?"
When using the watermark-filter, the watermark appears with a black background on the filtered image.
These are the filter settings im using:

[code]

Am I doing something wrong?

[2016-09-30 14:12] jehaby commented on #726
Is there anything useful in your log files? ( {{your_project_root}}/var/log/ }} by default in symfony )

[2016-09-30 14:13] jehaby commented on #808
I think I had the same problem with "GD" and pngs. Solved by switching to `driver: imagick` :)

[2016-09-30 14:19] Nightbr commented on #726
`Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "Source image could not be found" at /var/www/welp/shared/vendor/liip/imagine-bundle/Controller/ImagineController.php line 101`

I resolved the problem:

1. fix the version  `"liip/imagine-bundle": "1.6.*",`
2. remove the symlink /var/www/welp/current/web/media -> /var/www/welp/shared/media
3. recreate and chmod

[2016-10-01 17:15] robfrawley commented on #808
@Stuffy Did the suggestion by @jehaby resolve your problem? (If so, we should open an issue specifically about GD and transparency problems).

[2016-10-01 18:35] robfrawley commented on #726
@Nightbr You don't have to remove the symbolic link, you simply need to set an appropriate `data_root` value. For example:

[code]

[2016-10-01 19:18] robfrawley commented on #798
Initial wiki article detailing basic RST build now available: https://github.com/liip/LiipImagineBundle/wiki/Building-RST-Documentation

[2016-10-02 12:13] antoligy commented on #798
Very nice!  What's next?

I'm happy to contribute instructions for building in a MacOS environment based on what you've written for Debian.

[2016-10-02 12:16] antoligy commented on #807
How much is there to do on this, would it be possible to break down the various steps we'd need to take?

[As far as I can tell there isn't much by the way of deprecated functionality](https://github.com/sebastianbergmann/phpunit/wiki/Release-Announcement-for-PHPUnit-5.0.0) in 5 so this could be quite an easy win...

[2016-10-03 20:09] #760 closed

[2016-10-04 07:29] makasim commented on #760
you can try to debug a place where it happens by storing the execution trace.

[code]

[2016-10-04 10:17] Stuffy commented on #808
Unfortunately, we do not have the imagick-php lib available on our webserver.
I did some reading on GD and the transparency problem, and GD has indeed some issues with transparencies. But there seem to be fixes or workarounds as described here: http://stackoverflow.com/questions/11680734/php-watermark-png-transparency-alpha . It is to note that I tried a 8-Bit png and a 24-bit png, and both did no

[2016-10-05 18:24] kimwue commented on #749
Hi,

I'm having the same issue with applying a filter using twig to a svg. I use the driver imagick.

My config and filter:

[code]

The image doesn't load in Firefox, and in Chrome the whole page doesn't even load.

Using version 1.6.*

[2016-10-05 22:28] deviprsd21 commented on #749
@kimwue This isn't much information to figure out why it isn't working for you.

[2016-10-07 15:41] lucFM opened #810 "Some image cache are not created ?"
Hi, thanks for your work.

I have a strange issue in prod env, all works fine, but just some image are not found and cache is notre created.
Source image exists and cache works in dev env.

Here nginx log for one of this error:
[error] 28686#0: *23 open() "/mysfpath/web/app.php//media/cache/resolve/news_recent/uploads/media/v1/fotolia_87219112_s_0.jpg" failed (20: Not a directory), request: "GET /

[2016-10-08 14:42] desmax commented on #568
same for me, how to resolve this?

[2016-10-10 03:54] robfrawley commented on #807
@antoligy You'r right that there are not a huge amount of deprecations, but there are some, as well as some general cleanup and consistency alterations I'd like to implement. This has to be a 2.x change as PHPUnit dropped support for PHP 5.3, which the 1.x release of this bundle supports.

Here is a brief breakdown of my goals:
- Move from `$this->getMock('The\Namespaced\Class')` to `$this->getMoc

[2016-10-10 09:30] robfrawley commented on #798
@antoligy Adding build instructions for additional operating systems would be much appreciated, and should be relatively easy for other *nix-based environments. If I am not mistaken, assuming the Xcode Command Line Tools are installed, the instructions should be the same short of installation of the Python dependencies.

If you could play around and figure out the requirements, that would be amazi

[2016-10-10 09:48] robfrawley commented on #798
Here is an exerpt from the Homebrew install script to automate installation of the Xcode Command Line Tools (written in Ruby, it seems):

[code]

[2016-10-10 09:52] robfrawley commented on #798
Can anyone with access to a Debian/Ubuntu based system review the procedure I wrote up [on the wiki](https://github.com/liip/LiipImagineBundle/wiki/Building-RST-Documentation). I just moved this issue to [the in peer review](https://github.com/liip/LiipImagineBundle/projects/1) stage on the project board. (We'll move it back to in-progress if @antoligy elects to pursue OSX support).

[2016-10-10 09:55] robfrawley commented on #806
@jehaby Just moved this to the ["in peer review"](https://github.com/liip/LiipImagineBundle/projects/1) stage on the [project tracker](https://github.com/liip/LiipImagineBundle/projects/1). I will be taking a look over the next few days to provide feedback on this initial stab at implementing this feature!

[2016-10-10 13:28] lsmith77 commented on #807
One thing .. phpUnit's mock API never has been all that great. another possibility would be to use prophecy for this instead for example.

[2016-10-10 13:30] makasim commented on #807
better to use`createMock` method

[2016-10-10 18:33] robfrawley commented on #807
@lsmith77 @makasim @antoligy I'm actually very much in favor of a move to Prophecy (as @lsmith77  suggested) as its API is crazy clean in comparison. Doing this does complicate and balloon the work needed for this, but it may be worth it.

Can we get a thumbs up/down on this comment for everyone to vote for or against this change?

[2016-10-11 03:45] robfrawley opened #811 "Migrate mocks from PHPUnit to Prophecy"
Related to #807

[2016-10-11 07:46] makasim commented on #807
FYI: I've never had problems with Phpunit mock so I am not sure the migration worth it. I tried Prophecy several times but failed to "get it".

[2016-10-11 13:35] dutchiexl commented on #532
Does this currently work in the master ?

[2016-10-11 21:05] antoligy commented on #807
Completely in favour of moving away from PHPUnit mocks, they're okay, but I get the distinct impression that much of their adoption is down to the convenience of them being available directly through PHPUnit.

[2016-10-11 21:17] xabbuh commented on #807
@makasim This would drop compatibility with PHPUnit before 5.4 which isn't a good idea as this bundle still supports PHP 5.3 for which you need PHPUnit 4.x (PHPUnit 5.x dropped support for PHP < 5.6). So I would either update the current tests to make use of `getMockBuilder()` in all places or move to something else (like Prophecy).

[2016-10-11 21:57] antoligy commented on #807
That's fine as this would only be for v2, which (at time of writing) raises our minimum level of support.

I don't believe there are plans to backport this to v1, though please correct me if I am wrong!

[2016-10-12 07:21] makasim commented on #807
Pay attention to the fact that it will be harder to maintain both versions of the bundle (if we migrate to prophecy or change tests significantly). Imagine someone sends a PR with a fix for v1 which is make sense for v2 too.

This argument is only valid If we do plan to support v1

[2016-10-13 15:11] fender-hm commented on #532
I have 1.3.1, and have the same problem

[2016-10-16 19:27] robfrawley commented on #807
@makasim While I think it would be good to support bug fixes and security fixes v1 for some time after the release of v2, I don't envision the codebases or the test suites to be particularly compatible or similar, so PR compatibility isn't a factor from that point of view.

Where others envisioning more similarity between the two?

[2016-10-16 19:28] robfrawley commented on #798
@antoligy Do you plan to offer OSX updates? If so I'll keep this open for now. If not I was going to mark this as complete for the time being to clean up out issue tracker.

[2016-10-17 16:54] Tetragramat opened #812 "Images are not resolved in some browsers"
Hi, some time ago I updated to liip/imagine-bundle 1.5.3. Today I found out in some browsers, for uploaded images, cache is not resolved.
In network console these reguests have response code 406 Not Acceptable.
In log is following exception:

I have no idea what I did wrong.

### Some additional info

Where it does work?

Linux | OSX | Windows
-------- | -------- | -----------
firefox | firefox
 |

[2016-10-18 07:15] devozanges opened #813 "Mode parameter"
Hi , I dont find any documentation for the MODE parameter ?
thanks

[2016-10-18 07:20] devozanges commented on #813
sorry I finally found it

http://symfony.com/doc/master/bundles/LiipImagineBundle/filters/sizing.html

[2016-10-18 07:20] #813 closed

[2016-10-18 08:54] robfrawley commented on #813
@devozanges For future reference, all build-in filters are indexed at [LiipImagineBundle/filters.html#built-in-filters](http://symfony.com/doc/master/bundles/LiipImagineBundle/filters.html#built-in-filters)

[2016-10-18 08:59] robfrawley opened #814 "Broken "Edit this page" links in documentation"
Documentation pages generated from our RST files and deployed within the bundles sub-section of the Symfony docs provide an "Edit this page" button on the top right of all pages. For example, consider the [Size Filter page](http://symfony.com/doc/master/bundles/LiipImagineBundle/filters/sizing.html).

The page links to a 1.3 branch (which does not exist). Can we somehow configure our docs to link

[2016-10-18 11:23] Doums opened #815 "Could not find configuration for a filter"
Hi,
I have just install LiipImagineBundle by following that official doc http://symfony.com/doc/current/bundles/LiipImagineBundle/installation.html

And I get this error when I try to use my filter in my twig view :
`An exception has been thrown during the rendering of a template ("Could not find configuration for a filter: avatar") in PMCoreBundle::base.html.twig at line 31.`

in vendor/liip/imag

[2016-10-18 11:55] devozanges commented on #813
yes but I wanted to know if other parameters like "inset" or "outbound" exists

[2016-10-18 23:29] antoligy commented on #798
Hey, I've been a little busier than anticipated lately so slow on all fronts here- I'm still quite keen to contribute OSX docs (and then some), and so to avoid holding this back it might be best to do that in a further PR.

If nobody else gets a chance to review for Debian/Ubuntu, I'll make an effort to free up a few minutes in the coming days and to take a look so that we can move this forward!

[2016-10-18 23:31] antoligy commented on #815
Hey,

At a glance it seems that there are a few issues with your configuration.

Could you try with the below configuration and let me know if you have any luck?
[code]

[2016-10-18 23:38] antoligy commented on #812
Hey,

Cheers for reporting! - It might be helpful to post more information about which versions of those browsers work, and if they've got any extensions installed which might interfere with network requests.

At a glance it sounds like the FOSRestBundle is intercepting requests meant for the resolver.  This is likely due to those browsers sending down content negotiation headers (or not sending c

[2016-10-19 07:41] Doums commented on #815
Hi,
The repetition that you can see on my configuration is a mistake when I pasted my code and I write this post. My configuration is the same as one given in the documentation.

Otherwise, and I fail completely to understand why, the error has disappeared ! For more than 5 hours the error happened every time (despite of a lot of clears cache dev/prod, restart serv) and now nothing ! Yet during th

[2016-10-19 12:32] antoligy commented on #815
That's quite strange.  I'll close this for now, but please report back if you run into the same issue again!

[2016-10-19 12:32] #815 closed

[2016-10-19 12:49] Tetragramat commented on #812
Thank you for the answer.

All browsers have no extensions loaded.
I got different results for OSX and Windows, because I tested it on different computers.

For next list, indirect access means that image is linked in \<img src="IMAGE_URL"\>. Direct access means opening IMAGE_URL in browser directly.

- Linux Chrome 52.0.2743.116 (64-bit)
  - indirect access not working
  - direct access working
-

[2016-10-19 13:38] Tetragramat commented on #812
It was wrong FOSRestBundle configuration for root path.
Following configuration of format_listener under fos_rest is working correctly.
[code]

Thank you for your help.

[2016-10-19 13:38] #812 closed

[2016-10-19 16:41] lsmith77 commented on #810
hmm .. is there anything special about those images? does the image work correctly if you by pass the Bundle?

[2016-10-19 19:12] wtorsi opened #816 "So, what about resizing animated GIFs?"
Hi,
I've used this function to resize images in custom FilterLoader

[code]

With this config

[code]

But, in the result i got the image with bad quality and not animated :) . Maybe I did something wrong?

[2016-10-21 13:27] danielforer commented on #724
Hi, Did you resolve this issue? If so, how? I am having the same problem. Thanks

[2016-10-21 14:51] hegelx commented on #724
Hi Daniel,
I resolve the issue with the following steps:

First I wrote in the config/parameters.yml the following line with the path for the images:

[code]
In the Controller I wrote the following lines:
[code]

And in the twig file I wrote:

`<img src="{{ memberProfile|imagine_filter('profile70') }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" />`

Hope this helps, Uwe

[2016-10-24 09:01] lsmith77 commented on #814
@javiereguiluz do you know about this?

[2016-10-24 13:43] javiereguiluz commented on #814
Thanks for reporting this issue. We can reproduce it, so it's already fixed ... but we'll need to wait until the next symfony.com redeploy. Thanks!

[2016-10-24 22:57] robfrawley commented on #814
Wonderful; thanks @javiereguiluz

[2016-10-24 22:57] #814 closed

[2016-10-27 14:02] #502 closed

[2016-10-27 14:34] prodriguezval opened #817 "Private images handling"
Hi,

Is there any way to restrict the access of the compressed images to non-authenticated users using this bundle?, all the processed images go to a public folder in all the examples that I found in the web.

Anyone have a workaround?

Thanks in advance for the help
Greetings

[2016-10-27 20:29] robfrawley commented on #817
I'm not 100% clean as to the behavior you would like. _If the intention is to allow access to the transformed images only to authenticated users, and simply deny such to non-authenticated users at the HTTP-level_, then Symfony's [security component](http://symfony.com/doc/current/security.html) allows you to perform such by defining [firewall rules](http://symfony.com/doc/current/security.html#ini

[2016-10-29 02:37] prodriguezval commented on #817
Hi @robfrawley,
Thanks for the answer :+1:

I'm going to build a social network, I want to compress the user photos to improve the site performance, but also want to keep the more private possible, like:

1 -  if you're not my friend, you can see my photos
2 - If you aren't logged you can see any photos

By default this bundle store the compressed images in the public folder this folder is always

[2016-10-30 19:23] robfrawley commented on #817
@prodriguezval Was one of those two points supposed to contain a "can't" in there instead of a "can"?

[2016-10-30 19:56] ktrzos opened #818 "Scale filter not found / incorrect filter config documentation"
http://symfony.com/doc/master/bundles/LiipImagineBundle/filters/sizing.html#scale

[code]

AAaaaaaaand it's not working. Returning error:

Why documentation is writing about something that is not working???

And, when I'm adding `-` character before `scale: { dim: [ 1000, 666 ] }` (based on documentation from Symfony.com), error occurs:

Where is the most updated documentation for this bundle...?

[2016-10-30 19:57] prodriguezval commented on #817
@robfrawley yes, the point 1,

I don't know if this can be achieved with this bundle.

This is my particular doubt

Thanks

[2016-10-30 22:12] robfrawley commented on #818
@ktrzos The most updated documentation is the website you liked to, hosted on the official Symfony docs. As for the _scale_ filter, it was added _after_ the last stable release, so you will need to set you composer version constraint to `dev-master` for now if you'd like to use it.

As for the configuration format issue you mentioned, I will look into that further shortly.

[2016-10-30 23:46] robfrawley commented on #818
@ktrzos Documentation changes have been pushed to address the error you pointed out. It should be available in the [generated, online docs](http://symfony.com/doc/master/bundles/LiipImagineBundle/filters/sizing.html#scale) shortly; the compilation of them are automatic and quick).

If this and my previous answer resolve your issue, please close this.

[2016-10-30 23:57] #818 closed

[2016-10-31 01:10] robfrawley commented on #817
@prodriguezval It absolutely can! ;-)

A fairly straight-forward way to handle this would be overwriting the default imagine controller with our own implementation. Let's create a new controller named `ImagineController` and place it at `src/AppBundle/Controller/ImagineController`.

Additionally, I'm assuming the existence of a service named `user.network.examiner` that contains helper functions f

[2016-10-31 16:21] robfrawley commented on #813
@devozanges Are those parameters missing from the documentation somewhere?

[2016-10-31 16:24] robfrawley commented on #818
@ktrzos I accidentally closed this; I generally prefer that the person who opened it closes it as a confirmation that the issue is solved. Please re-open if this is not the case. Thanks!

[2016-11-01 15:53] prodriguezval commented on #817
Hi @robfrawley,

I'll implement and test your solution,  very nice explanation

Thank you so much!

[2016-11-02 09:08] devozanges commented on #813
I just think ca deserves to be clearer, as these are common parameters

[2016-11-02 09:14] ktrzos commented on #818
Not a problem :). It's all ok now... I think :D. Thanks for help!

[2016-11-04 08:40] lsmith77 commented on #816
fundamentally we use the imagine lib for resizing. so first check there if animated gifs are supported .. it looks like there is some support for it :
https://github.com/avalanche123/Imagine/search?utf8=✓&q=animated

[2016-11-04 23:56] robfrawley commented on #813
@devozanges Are you specifically speaking about the `mode` values? (http://symfony.com/doc/master/bundles/LiipImagineBundle/filters/sizing.html#thumbnail-options) Do you have any examples of how it could be more clearly described? If not a PR, please describe how it wold be better written up do I can refine the documentation, as the latest main revision of those docs are my doing.

[2016-11-07 08:49] devozanges commented on #813
I think the most common parameters must always appear very clearly (on github too) without having to search very far. Otherwise, thank you for your work

[2016-11-07 16:32] rpkamp opened #822 "Custom resolvers can only be used on a per filterset basis, not as default resolver"
For a very specific use case I needed the resolver cache completely disabled, so I tried to use the `\Liip\ImagineBundle\Imagine\Cache\Resolver\NoCacheWebPathResolver` resolver, which according to `imagine.xml` should be available as a `no_cache` resolver.

[code]

However, when I use that value like

[code]

I get the following exception:

Unrecognized option "no_cache" under "liip_imagine.resolv

[2016-11-10 03:22] robfrawley commented on #822
I generally prefer option 2. @lsmith77 @antoligy Thoughts?

[2016-11-10 03:27] robfrawley commented on #798
@antoligy Thanks for the clarification.

[2016-11-10 08:40] lsmith77 commented on #822
I don't feel strongly either way, but lean a it towards option 2 as well.

[2016-11-10 19:48] rpkamp commented on #822
Alternatively, we could add a `custom` option with a `CustomFactory` where the config would look something like

[code]

The only thing is that this won't work with the compiler passes so those would have to go. Seeing how they don't work at the moment it won't be a real BC I think.

Thoughts?

[2016-11-21 19:15] faneca opened #823 "Help: resolver AwsS3Resolver / loader: (Gaufrette + AwsS3) => thumb creation takes ages"
Hello,

I'm trying to get your bundle to play nice with my setup. Both source images and cache files are to be stored on AWS S3. I'm using Gaufrette as a loader and AwsS3Resolver as the cache resolver.

Things seem to work, but the time it takes to generate the thumbnails is simply unbearable: 24 seconds for two thumbnail versions of a 600kb .jpg, several minutes for a 3.3 Mb .png, etc., with the

[2016-11-22 16:35] christianbaer commented on #584
@roderik did you find any solution yet? How to convert images in 1er-Version?

[2016-11-23 02:49] robfrawley commented on #584
@christianbaer I do not know of a solution for 1.x It is on the currently active 2.x roadmap: https://github.com/liip/LiipImagineBundle/projects/1

[2016-11-24 01:35] antoligy commented on #823
Hey, thanks for reporting - This does indeed sound quite strange!

Would you be able to post some more information about your connection to S3, i.e. from where you're connecting, and to which region / etc.  In the meantime I will try and replicate (actually using a setup similar to this right now!).

Cheers,
Alex

[2016-11-24 01:43] antoligy commented on #822
Sorry, thought I'd hit send two weeks ago but clearly not - I'm more inclined towards option 2 also, as it allows for greater flexibility and is more in-line with how data loaders are built.

A custom dataloader might be another solution, I've no strong stance on it if it doesn't break BC.  Might be worth seeing how it works out in practice?

[2016-11-24 07:28] faneca commented on #823
Hey, thanks for your time!

Well, the server is an AWS EC2 t2.micro in eu-west-1a (Ireland). The bucket is also located in eu-west-1.

Monitoring the server through htop while running `app/console liip:imagine:cache:resolve <file>`, the only resource that seems to be used to the limit is the CPU itself (being a micro instance, I was afraid that maybe memory was being used over the limit forcing to

[2016-11-24 07:32] faneca commented on #823
Also, do you have any recommendations to isolate the issue? Any concrete setup you want me to try with Gaufrette and LiipImagineBundle (for example, making every file access local to the server)?

[2016-11-24 10:48] alainib opened #824 "symfony 2.3 + liip + gaufrette = create thumb of a remote image (by url)"
I get an old Symfony 2.3 project.
I never use Symfony before ( i'm in Angularjs ) so it is a little hard.

What i want to do : i need to tweak the project so i can display thumb of local image or remote image ( i will get the full url of already uploaded images), the thumb should be created in local cache.

Liip image bundle already used in the project with filters.
I installed KnpGaufretteBundle

[2016-11-25 10:35] alainib commented on #824
I do it manually :

    <?php
    /*
     * étapes
     *
     * si image existe
     *      on la retourne
     *
     * sinon
     *      créer le chemin complet
     *      créer la vignette
     *      retourner la vignette
     *
     * chemin ou sont stocké les images : media/cache_url_thumb/thumb_{{w}}_{{h}}
     *
     */

    // retourne le contenu d'une image
    function sendimg($path,$

[2016-11-25 10:35] #824 closed

[2016-11-25 18:44] stephylee commented on #591
had the same issue.
Was due to the name of the picture that contained a "+" character.
Renaming the picture solved the issue...

[2016-11-26 16:09] TomCamin opened #826 "data_root and symbolic link"
Hi

I use a tool to deployer new version in production : https://github.com/REBELinBLUE/deployer

I have to folder releases with last 10 releases that i have deployer and latest who is a symbolic link to the last release.

I have an error with LiipImagineBundle :
`Source image could not be found`
And the exeption :
`Source image invalid "..../releases/20161126155635/src/Project/TestBundle/Resource

[2016-11-27 01:51] robfrawley commented on #826
So, I am going to go out on a limb here and make some assumptions that would help explain your difficulties.

1. Your entire project is deployed in such a way that the live folder is a symbolic link to the currently released code base root.
2. You have installed your Symfony assets using the "symbolic" option, causing an additional level of redirection within your project root.

Fun. ;-) Let's con

[2016-11-27 11:02] TomCamin commented on #826
Thanks a lot for your answer!

I just try to install assets without symbolic links and works fine now ^^

[2016-11-27 11:02] #826 closed

[2016-11-27 12:14] JulienItard commented on #810
Same error here. works on dev not prod.

[2016-11-27 16:52] robfrawley commented on #810
The first thing that stood out to me was the double slashes that exist after `app.php`, which I remember has cause me grief quite some time ago... Assuming Nginx still doesn't play nice with such, I would investigate how to ensure your request is built as expected.

[code]

I could be wrong and this may have everything to do with something else, but I **do** know that has cause me grief a long whi

[2016-11-28 10:14] faneca commented on #823
Ok, never mind. I ditched gaufrette in favor of flysystem and everything is working really, really smoothly (well, except for a serializing exception with vichUploaderBundle, but that has nothing to do with this issue nor this repository ;-).
Thanks for your time anyway, @antoligy!

[2016-11-28 10:14] #823 closed

[2016-11-28 13:59] antoligy commented on #823
Hey, sorry I haven't had a chance to look at this yet.  I'm still going to take a look at this as we've got a similar use-case, and will reopen if I can replicate.

Pleased to hear that you've got this working now with Flysystem!

[2016-12-01 18:53] antoligy opened #828 "Documenting common pitfalls"
Continuing on from https://github.com/liip/LiipImagineBundle/pull/827...

Right now, while not strictly an issue regarding this repository, there's at the very least a common pitfall wherein without a correctly configured Symfony application + reverse proxy, we'll generate links with the wrong scheme (as we utilise Symfony's `Request` class).

I'm not sure if there are any other obvious ones, but

[2016-12-01 18:56] greg0ire commented on #828
Either a FAQ or maybe augment the [web path resolver](https://github.com/liip/LiipImagineBundle/blob/1.0/Resources/doc/cache-resolver/web_path.rst) docs? That's the class where I found this piece of logic.

[2016-12-02 12:48] cedricziel commented on #828
I like the idea of adding the pitfalls  to the web path resolver docs, since other resolvers (may) have their own ways of obaining the correct path for their referenced assets. (think of flysystem for example)

[2016-12-03 00:40] robfrawley commented on #828
All for improving the docs! For those not comfortable with RST, feel free to post the information you'd like added here and I'll be happy to push it into our RST documentation.

[2016-12-03 15:05] greg0ire commented on #828
I went ahead and made #829 . Please review.

[2016-12-03 20:59] robfrawley opened #830 "Update RST documentation to use `asset()` Twig function"
The `README.md` code examples now make use of the Twig `asset()` function, per #825. We should bring the relevant examples in the RST documentation in-line with this convention. While the prior mentioned PR affected only four `README.md` lines, I know that their are a few additional examples in the RST documentation, all of which should be consistent, IMHO.

[2016-12-05 01:35] #828 closed

[2016-12-05 16:09] antoligy commented on #830
Agreed!  Have you got this covered or would you like me to have a crack at this?

[2016-12-05 16:26] robfrawley commented on #830
I won't be about to get to it until next week, so if you have time, feel free to give it a go. Otherwise I'll take care of it in the coming weeks. A little crazy busy for me ATM. ;-)

[2016-12-05 19:16] davidromani opened #833 "Manage strange file name on cache resolve command"
Hi.

I need to execute this command over a filename with blank characters and vowels with accent:

[code]

But I get this output:

[code]

What can I do? Thx.

[2016-12-05 19:32] robfrawley commented on #833
I'm not sure where in the code that is being lost, but remember PHP isn't particularly good at handling a full UTF-8 character set. You can use a debugger to talk through the code when passed that value and try to determine where it's lost.

[2016-12-05 20:51] rpkamp commented on #822
So I've been diving into the code in order to see if I could fix this, and found that the Resolver CompilerPass does not do what I expected it to. What it does is load a cache resolver so it can be used for a specific filter in the configuration, like

[code]

and that works fine. The thing that doesn't work, but from the looks of it was never supposed to work in the first place, is setting a reso

[2016-12-05 21:45] antoligy commented on #822
Yeah, I believe that's in-line with the rest of the roadmap for 2.0 so I'm happy to go down that road.  It seems like greater flexibility all-around, and one step closer towards the ultimate goal of cross-format conversion!

On that note I believe we should keep this issue open to track that change, but maybe adjust the title to avoid confusion.

[2016-12-05 22:00] antoligy commented on #833
I am guessing that this is one of the exceptions thrown by the FileSystemLoader...  Would you be able to post some more information about the exception that is thrown?

[2016-12-05 22:30] robfrawley commented on #833
Yeah, the actual exception message would be mad helpful. ;-)

[2016-12-07 08:46] davidromani commented on #833
Yes, for sure.

[code]

[2016-12-07 10:07] davidromani commented on #833
I think that I found the problem... If you are try to resolve a file with blank characters the command must apply a double-quote to encapsulate the file name

[2016-12-07 10:08] #833 closed

[2016-12-09 15:57] robfrawley commented on #833
Glad you found a resolution!

[2016-12-11 16:19] antoligy commented on #830
I've just resubmitted my PR under #836

[2016-12-11 19:45] #830 closed

[2016-12-15 15:37] wuethrich44 commented on #572
I have the same problem with a pdf generator. So I can spend some time to implement this feature.

@makasim Do you have a hint where I could start? As far as I see implementing another resolver couldn't fix this problem.

[2016-12-15 16:45] makasim commented on #572
I would say we can add a method to  filesystem resolver like getAbsolutePath then you can use it in a template

[2016-12-15 20:43] Guite opened #837 "Problem with the signer"
I am trying to generate thumbnails using runtime options and receive the following error:

[code]

The configuration looks like this: https://github.com/zikula/core/blob/1.4/src/app/config/imagine.yml

Any idea what I am doing wrong?

[2016-12-17 20:48] robfrawley commented on #837
@Guite: Looks like you resolved this in your own code @ Guite/MostGenerator#859, if so can you please close this issue.

[2016-12-17 21:54] Guite commented on #837
@robfrawley no I just added an ugly hack as a workaround by adding a DummySigner which always returns `true` in it's `check` method. So this bypasses the issue, but does not fix it.

[2016-12-17 21:55] Guite commented on #837
Here is the hack: https://github.com/Guite/MostGenerator/blob/master/bundles/org.zikula.modulestudio.generator/src/org/zikula/modulestudio/generator/cartridges/zclassic/controller/util/ImageHelper.xtend#L282

[2016-12-17 21:59] robfrawley commented on #837
@Guite Ah, ok. Thanks for the update. Will take a look at this at some point over the weekend to see if I can't derive a cause.

[2016-12-25 07:12] ahbaqdadi opened #838 "helper not working"
im on symfony 2,8 version

when i want to use this
<img src="{{ asset('my path/my-image.jpg') | imagine_filter('my_thumb') }}" />

helper , i got nothing

here is my config

[code]
and my routing

[code]

[2016-12-25 23:54] antoligy commented on #838
Hey @ahbaqdadi

Nothing seems to be immediately wrong with the configuration you've posted (if the filter were being loaded with an error I'd expect to see an exception) ... Would you be able to supply any relevant logs, and a little more context to your usage?

Cheers!

[2016-12-27 02:11] robfrawley commented on #838
@ahbaqdadi: Can you expand on

For example, if you follow the URL generated for the image, what error message(s) do you get? Or do you quite literally get a blank image ("nothing")? Additional info would be critically helpful!

[2016-12-27 16:46] alexislefebvre commented on #532
This filter work:

[code]

This one doesn't:

[code]

It's like the filter is never called.

I use Imagine 0.5.

Maybe the problem comes from the fact that `exif_read_data use in the [AutoRotateFilterLoader](https://github.com/liip/LiipImagineBundle/blob/master/Imagine/Filter/Loader/AutoRotateFilterLoader.php#L97) file expect a file and not a string: http://php.net/manual/en/function.exif-read-dat

[2016-12-27 17:19] alexislefebvre opened #839 "Links on badges in README.md don't work"
The links don't work: https://github.com/liip/LiipImagineBundle/blob/6ffb1bcb04b542ed43561ee3b4a82ec68ddfc97b/README.md#liipimaginebundle

Example of link: https://src.run/service/liip/LiipImagineBundle/1.0/travis

It looks like `https://src.run` doesn't work.

Update: it works with Chromium (a browser based on Chrome's code) but not with Firefox.

[2016-12-27 19:04] robfrawley commented on #839
Seems to work on Chrome and Firefox for me (I wrote the, arguably ugly, Silex code that powers that website)... I also borrowed my roommate's MacBook and it also works on both Chrom and Safari on OSX as well. It's literally returning a redirect, so I'm unsure what the issue you are running into is.

[2016-12-27 19:16] robfrawley commented on #532
@alexislefebvre Imagine `0.5` is **really old**. I'd recommend updating at the nearest possible opportunity. We're actively supporting and developing `1.x` and development for `2.x` is underway; the `0.5` branch likely doesn't have a long lifetime moving forward. Just an FYI.

[2016-12-27 19:26] robfrawley commented on #839
Also, if you are receiving an error, please provide such. Stating "it doesn't work" doesn't provide much diagnostic information for fixing any issues that may exist. For example, do you get an exception? Is the page blank? If so, what does the developer console's "network" panel show in terms of activity? Etc. Thanks!

[2016-12-27 23:02] alexislefebvre commented on #839
I had a blank page earlier today. I'm using Firefox right now, on another machine and another network, it works. I'll check again tomorrow and will provide more information.

[2016-12-28 00:19] robfrawley commented on #839
Ok; thanks!

[2016-12-28 09:05] alexislefebvre commented on #839
When I copy and paste the URL in the browser bar, nothing appear in the Network tab.

Because of my test environment, I use Firefox 45.0.2 which is not the last version. Maybe it comes from here. I'll close it for now since I can't reproduce this on another browser.

[2016-12-28 09:05] #839 closed

[2016-12-28 10:05] alexislefebvre commented on #532
I removed the requirement on the `0.5` version and I was able to update to Imagine `0.6.3`. Now the `auto_rotate` filter works.

Finally, it looks like `auto_rotate` only works with Imagine `~0.6`. Can someone confirm this? It could be explained in the documentation.

[2016-12-28 12:48] sloba88 commented on #726
I've stumbled on the same problem. The thing is that I don't have every image under same directory, some were symlinked between different releases and some are specific to the release (static), so I really can't find solution to my problem with this config.

[2016-12-28 15:35] robfrawley commented on #726
@sloba88 You can always use [bind mounts](https://www.google.com/search?q=bind+mounts) in place of symbolic links to mount all locations within a single root path.

[2016-12-28 16:49] alexislefebvre commented on #532
I was able to upgrade Imagine to the last version (`0.6.3`) and it works now, the `auto_rotate` is applied. Thanks @robfrawley.

[2016-12-29 02:02] robfrawley commented on #532
@alexislefebvre I'll look into inserting a note in the documentation.

[2016-12-29 14:55] wuethrich44 commented on #572
I found a possibility to access the absolute file path but it is not very elegant. As the thumbnail generation is coupled to the controller there is no elegant way to create a thumbnail programmatically. But as far as I know this issue will get adressed in a upcoming release.

To get the absolute path I create a custom resolver which override the `resolve` method:
[code]
With the resolver above we

[2016-12-30 15:06] timoziemann opened #840 "liip_imagine_filter shows peaks in New Relic"
Hi there,

I've had troubles with this for a few days and I'm running out of ideas. I'm using New Relic for performance tracking / issues and since we've upgraded to 1.6.0 (from 0.2.1) we're seeing hugh peaks on the filter action, which appear to slow down the whole site (Symfony 2.7.x). It appears to be periodically around every full hour (but 1-2 minutes later) and mostly also every 30min later.

[2016-12-30 20:29] antoligy commented on #840
Hey!

Cheers for reporting, I understand how frustrating this type of issue can be and hopefully we'll be able to resolve this.

Do you have any more information about the requests that are slowing down? (even just about the assets being requested).
Off the top of my head, I wonder if one of these host-run cronjobs is somehow purging caches?  That would explain why these assets would be regenerate

[2016-12-30 20:58] timoziemann commented on #840
Resolvers are pretty default, but we do have some customized loaders - this would be a little more to post as a comment, if necessary? %data_path% is a Symfony paramter, basically a mounted NFS on the live environment.

Unfortunately, the number of calls (56 in my example) do not correlate to the log entries showing up in the nginx access/error log files. I a timeframe of 1 minute I found just a f

[2016-12-30 22:23] robfrawley commented on #726
@sloba88 Any luck?

[2016-12-31 06:23] sloba88 commented on #726
@robfrawley I solved it by moving my static images in sub directory of dynamic. As I've using Capistrano to deploy an I have multiple releases I am not sure how well bind mount would work for me.

[2017-01-03 09:28] #703 closed

[2017-01-03 15:43] stickyhands commented on #501
@Miliooo @WebDevCodr I have an unrecognized option error here with that fix

[2017-01-03 16:05] cedricziel commented on #501
@stickyhands I just opened #841 which should fix the issue with a compiler pass, so you don't have to fiddle around with parameters here.

btw: @Miliooo surely meant setting it through a parameter and not directly in config.yml.

[2017-01-03 19:41] stickyhands opened #842 "image in media cache are not created"
Unable to create image for path "images/fiches/586bb8aa4da2e.jpg" and filter "thumb". Message was "Unable to open image /var/www/xxx/app/../web/images/fiches/586bb8aa4da2e.jpg"

My config is default:
[code]

and in twig:

`<img src="{{ asset('images/fiches/' ~ sheet.imageName) | imagine_filter('thumb') }}" alt="" />
`

I also tried with the cli:

php bin/console liip:imagine:cache:resolve images/f

[2017-01-03 20:04] robfrawley commented on #842
I assume you checked to confirm the path exists? Eg: `/var/www/xxx/app/../web/images/fiches/586bb8aa4da2e.jpg`

[2017-01-03 20:06] stickyhands commented on #842
yes the path and file exists

[2017-01-03 20:19] stickyhands commented on #842
I downgraded to 1.4.3.

the error message is different :
Unable to create image for path "images/fiches/586bb8aa4da2e.jpg" and filter "thumb". Message was "An image could not be created from the given input"

[2017-01-03 20:59] robfrawley commented on #842
That exception is only thrown from the Gd/Gmagick/Imagick wrapper classes, which mean you don't have the required extensions installed for the back-end you are using. What is the output of running the following:
[code]

[2017-01-03 21:04] stickyhands commented on #842
@robfrawley gd is present in the module list

[2017-01-03 21:08] robfrawley commented on #842
What happens when you run the following:

[code]

[2017-01-03 21:26] stickyhands commented on #842
@robfrawley hum thanks ! now i see the light:
`Warning: imagecreatefromstring(): No JPEG support in this PHP build`

:-)

[2017-01-03 21:55] #842 closed

[2017-01-06 10:15] #501 closed

[2017-01-06 16:18] alexwilson opened #843 "Question - Should we continue using temporary files for"
Hey, I'm just going through the PostProcessors, trying to normalise them for `2.0`, and I've come across the fact that the MozJpeg and Pngquant Post Processors don't have the option to use temporary files before being passed to their respective tools.  Partially this is because both support input through `stdin`, but also this was initially a decision for performance.

In 2.0, it seems like we sho

[2017-01-06 16:35] lsmith77 opened #844 "next release"
https://github.com/liip/LiipImagineBundle/compare/1.6.0...master

guess we should release 1.7.0 ?

wdyt @makasim @cedricziel @robfrawley @antoligy ?

[2017-01-06 16:45] antoligy commented on #844
I've been thinking along the same lines now, it might very well be worth doing that given all of the bugfixes and updated docs.

We'll need to re-run the command for updating the changelog, but then other than that we should be good to go? ☺️

[2017-01-06 16:51] cedricziel commented on #844
Yes, agreed. Let's do it. I'm not entirely sure i submitted #841 to the correct branch, since it's not in the comparison and the branch-alias 1.6-dev on the default branch (1.0) is still master. @robfrawley , @antoligy can you check that please?

[2017-01-06 20:45] antoligy commented on #844
Yep, #841 is correct - I've gone ahead and cherry-picked the squashed commit into the 2.0 branch

When I get back later on, I'll go ahead and create a PR against 1.0 with an updated changelog, ready for tagging if there are no objections 😄

[2017-01-08 02:30] robfrawley commented on #844
All good for a new minor release being tagged from my perspective!

[2017-01-08 02:34] robfrawley commented on #843
I would love to get rid of temporary files in *as much of the code as humanly possible* as touching the disk is always going to cause additional (and in many cases, in the current code base, unnecessary) performance penalties.

[2017-01-08 08:51] makasim commented on #844
I am for 1.7.0

[2017-01-08 18:58] antoligy commented on #844
Cool, done in #845!

[2017-01-09 16:02] antoligy commented on #844
Done - thanks for reviewing, I've also tagged and created a draft GH release - https://github.com/liip/LiipImagineBundle/releases/tag/1.7.0

Not sure if I've done this right, I notice that previous releases have a nice changelog summary (can't tell if it's auto-generated or not).  Happy to close + delete the tag, if this has been done incorrectly.  If this is correct, I am happy to surmise the var

[2017-01-09 16:17] cedricziel commented on #844
I think it's okay to add the autogenerated changelog content and highlight noteworthy changes at the top. It's not autogenerated on the release record.

I've gone ahead an entered our changelog content from 1.6...1.7.

[2017-01-09 18:04] antoligy commented on #844
Completely agreed, and thanks for that, it's looking much better!

Now, who wants to hit "publish"? 😄

[2017-01-09 18:18] cedricziel commented on #844
Hehe. Since the tag is already set through git, people might already be having it. There's no reason to be shy :)

Since we're all fine with a new release, and because it's just a maintenance release I've gone ahead and published the Github release.

https://github.com/liip/LiipImagineBundle/releases/tag/1.7.0

Thank you all for collaborating! :tada:

[2017-01-09 18:18] #844 closed

[2017-01-10 09:43] davidromani opened #846 ""Cache directory creation problem" and "source image could not be found" with v1.7"
Hello.

After upgrade this bundle from 1.6 to 1.7 my project doesn't works well.

In my local environment everything works well. My "web/media/cache" dir exists with all permissions. But when I deploy my app to a production server with Capifony, it seems that this bundle can't create "cache" directory.

Is there some change related with directory creation in this update? In my deployment server I

[2017-01-11 06:49] xdrew commented on #838
We've spotted same issue with assetic one small addition in configuration:
[code]

And got this error: Source image not found in \"/var/www/../web/img/img.png?v=2.6\"

Maybe topic starter means that case.

[2017-01-11 16:35] antoligy commented on #846
I don't believe that there's been any changes to the creation (or lack thereof) of the `web/media/cache` directory.  I'll take a look to double-check...

(For reference - https://github.com/liip/LiipImagineBundle/compare/1.6.0...1.7.0)

[2017-01-11 18:09] adaniloff commented on #846
Hello there,

+1 with davidromani.

We got a problem with an update in the `Binary/Loader/FileSystemLoader.php` file.
I got the "Source image invalid "%s" as it is outside of the defined root path" error message since 1.7 upgrade.

Tried to downgrade to 1.6.* and it worked fine again.

It seems to be an environment problem (maybe because of symlinks), we're actually trying to figure it out; becaus

[2017-01-11 18:31] raphaChoquet commented on #846
Hello,

The error is due to symbolic links created by 'assets:install --symlink'.
I made a pull request to fix it :
https://github.com/liip/LiipImagineBundle/pull/848

[2017-01-12 09:28] picks44 commented on #846
Thanks @raphaChoquet! Hope there'll be a new release with this fix soon, I had to downgrade to 1.6.

[2017-01-12 10:29] antoligy commented on #846
Unfortunately this PR has broken the testing suite and so I'm not comfortable with merging and releasing it just yet.  However I'll prioritise it, so as soon as we can be confident it won't break then we will create a patch level release.

[2017-01-12 15:29] raphaChoquet commented on #846
Yes, tests has broken because program doesn't replace paths containing '../' in $path.
I think we need to replace realpath function by other logic to keep symbolic link.

[2017-01-12 20:14] robfrawley commented on #846
@raphaChoquet We've cover this in multiple issues prior: you need to set a proper `data_root` value in your bundle configuration to allow for the **real path** once the symbolic link is resolved.

[2017-01-12 22:48] antoligy commented on #846
Thanks for the clarification @robfrawley, I remember that being a particular pain-point in earlier issues.  I wasn't actually aware of the need to configure data_root either, so I wonder if it's worth us documenting that to avoid more issues of this nature?

[2017-01-13 02:24] robfrawley commented on #846
@antoligy It is documented here: https://github.com/liip/LiipImagineBundle#images-outside-data-root

We could possibly highlight it more and add some clarity. If I remember correctly, that existed almost exactly as it currently is before I submitted the documentation re-write; we could expand upon that and provide some additional clarity, specifically point to the common error message(s) people ge

[2017-01-13 02:26] robfrawley commented on #846
Also, we don't mention the difficulties people encounter when they utilize symbolic links, so perhaps that should be explicitly spelled out in the documentation as well. I won't have any time to work on it before the weekend, but if no one else gets around to it before, I'll happily expand on that sometime this coming weekend.

[2017-01-13 02:39] robfrawley commented on #846
@davidromani @adaniloff @raphaChoquet @picks44 The issue you are encountering is the following: prior releases didn't consistently chroot the file within the resolved root path, which was the intended behavior, it was simply written in an easily (and regularly) bypassed manned. Moving forward, the code requires images reside in the root configured. This means that if an image lives in `/path/a` an

[2017-01-13 07:39] adaniloff commented on #846
@robfrawley Reading the doc, it seems that we can only configure one data_root. It could be a pain in the *ss. For example, I got src/Foo1Bundle and src/Foo2Bundle having their own resources, how should I do?

Configure all the SRC/ as data_root path? Because it seems bad to do so to me.

Also, since it's an update from 1.6 to 1.7 only, I think the presence of this parameter should be checked and

[2017-01-13 09:40] picks44 opened #849 "Multiple "Source image could not be found" since 1.7 update"
Since the update to 1.7, I have problems with images not being found and therefore no image beeing generated by the bundle.

Error is "Source image could not be found", and "[1/2] NotLoadableException: Source image invalid "C:\wamp\www\MyProject\src\MyBundle\Resources\public\images\icon.png" as it is outside of the defined root path".

I haven't changed my config
[code]

I'm also using VichUploade

[2017-01-13 15:28] weyandch opened #850 "Images not resolved by cache"
I've been trying to debug this issue quite some time now, digging through old issue and documentation.

When i start with a clean /media/cache folder (proper permissions, not symlinked) after deploy, i receive lots of 404 errors when the page renders in the browser.

`[2017-01-13 16:12:07] request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "No route

[2017-01-13 19:21] robfrawley commented on #846
@adaniloff Reference my [latest comment from the PR](https://github.com/liip/LiipImagineBundle/pull/848#issuecomment-272523363). Would allowing an array of data roots solve your problem while ensuring the security of the system?

[2017-01-13 19:31] robfrawley commented on #849
Please close and reference the already opened issue #846 and PR #848.

[2017-01-13 22:16] robfrawley commented on #846
@adaniloff Can you patch your imagine-bundle with PR #851 and configure the multiple data roots needed by your setup and see if this resolves your issue? To do so, ensure you've upgraded your imagine-bundle to `v1.7` and enter the bundle root `cd vendor/liip/imagine-bundle` and call the patch command `patch -p1 < curl https://patch-diff.githubusercontent.com/raw/liip/LiipImagineBundle/pull/851.dif

[2017-01-13 22:41] robfrawley commented on #849
Please see if #851 resolves your issue.

[2017-01-14 00:33] adaniloff commented on #846
@robfrawley Thanks for your replies and explanations. I can't try it right now as I won't have my computer with me until Monday.

Gonna keep you informed about https://github.com/liip/LiipImagineBundle/pull/851.

I'd like to know if it is also possible to add a user notice (or warning) when upgrading from 1.6.x to 1.7+ as following :
- the user do a `composer update` that change the version of thi

[2017-01-14 01:10] robfrawley commented on #846
@adaniloff I absolutely understand what you are trying to convey in terms of providing notice to the user, but I'm not sure your solution is indicative of the broader usage of this bundle: *most people don't set `data_root` and never need to do so.* As such, IMHO, it seems counter-intuitive to require they set a value for this option (when they normally would not) *or* set a configuration option w

[2017-01-14 11:40] adaniloff commented on #846
@robfrawley
I was convinced that this would be the case of most of the people (I mean to use symlinks for images etc), but reading your previous message it seems not to be.

A composer hook could do the trick I guess. Outputing a big warning / danger message :)

Regards

[2017-01-14 17:36] grago opened #852 "Question - Avoid caching the default "not found" image"
Hello

Sorry if this is a very basic question.

I am using a custom data loader and a custom resolver, where the images are loaded from any url in the web and stored in the disk.

When the image is not found on its original source, a default "Not found" image is returned.

My question is, is there a way to avoid storing the Not found image on every picture that is not found, in order to avoid a lo

[2017-01-15 00:08] robfrawley commented on #846
@adaniloff Here is a notice that is pulled from the UPGRADE.md file (it matches the version hesder to the version being installed/upgraded). Thoughts?
![liip-imagine-composer-notice](https://cloud.githubusercontent.com/assets/3967713/21959150/ae1a1b4a-da8c-11e6-9453-195f53c30b07.png)

[2017-01-15 00:33] antoligy commented on #846
I really like this approach and honestly now wish that other bundles were doing it too!  (It'd save me a *lot* of time 😂)

[2017-01-15 00:41] adaniloff commented on #846
@robfrawley I already love it. Thanks :)

[2017-01-15 00:44] robfrawley commented on #846
Looks like the response is positive so far, so I'll work on cleaning this up and getting it ready for submission. Note that it is "interactive-aware" and doesn't prompt the user to confirm the notice when Composer is run in non-interactive mode (for automated scripts or other non-interactive environments). I'll get a PR submitted later tonight.

[2017-01-15 06:42] robfrawley commented on #846
See PR #853 for composer update notice hook.

[2017-01-16 10:37] picks44 commented on #849
Well I have to wait vor v1.7.1 to try this as I guess I have several data_root pah to configure (one for the bundle images, and one for the manual user uploads).

[2017-01-16 10:38] picks44 commented on #849
To me this new config is not really "user-friendly"...

[2017-01-16 10:47] picks44 commented on #849
Now I have the error `"Root image path not resolvable "kernel.root_dir%/../web/uploads"`...

My confil.yml
[code]

[2017-01-17 17:07] adaniloff commented on #849
@picks44 try `"%kernel.root_dir%/../web/uploads"` instead.
I think you forgot a `%` car. in your config.yml file.

Regards

[2017-01-17 17:13] adaniloff commented on #846
@robfrawley Hi!
So you decided to abort the composer update hook part right ?
Could you be more explicit on the "why" ? I'm not quite sure that I have understood it.
Also, do you think of any other way to do something similar?

Sorry for bothering you that much :)

Regards

[2017-01-17 23:45] edvinasnet commented on #849
@picks44 maybe are you using symlinks to cached image? I have same error with deployer and symlinks

[2017-01-19 16:36] robfrawley commented on #846
@adaniloff The composer hook was abandoned because the `scripts` key of a composer configuration is ignored unless it is part of the **root** `composer.json` file. See their [documentation on the subject](https://getcomposer.org/doc/articles/scripts.md#what-is-a-script-) for additional confirmation. What this means is that it would only be executed for developers of the bundle who are running comp

[2017-01-19 16:39] robfrawley commented on #849
@picks44 You absolutely forgot a `%`. Variables (or, more accurately, string replacements) in Symfony config files must be surrounded by `%` characters, for example: `%kernel.root_dir%`.

[2017-01-19 16:41] robfrawley commented on #849
@picks44 This configuration isn't **new**, the root check is simply more secure, and takes symbolic links into account. If you aren't using symbolic links there is no need to set this configuration option. What is **new** is the ability to define multiple root paths.

[2017-01-20 02:05] robfrawley commented on #849
Version [1.7.1](https://github.com/liip/LiipImagineBundle/releases/tag/1.7.1) released with multiple data roots support.

[2017-01-20 02:06] robfrawley commented on #846
Oops: didn't mean to close this (must have hit "comment and close" instead of just "comment") -- my bad!

[2017-01-20 02:06] robfrawley commented on #846
Version [1.7.1](https://github.com/liip/LiipImagineBundle/releases/tag/1.7.1) released with multiple data roots support.

[2017-01-20 05:00] robfrawley opened #854 "Remove "master" branch, keep "1.0" as default"
@lsmith77 Can we officially remove the `master` branch at this point? We already have `1.0` set as the default branch, and any development is occurring directly on the `1.0` or `2.0`, so it's simply a duplication of effort (and needless time consumer) to continually ensure we are keeping `master` in-line with the other branches.

We had discussed this prior but never taken the step to pull the tri

[2017-01-20 05:03] robfrawley commented on #854
Ping @antoligy: let us know if feel contrary to my sentiment.

[2017-01-20 06:57] lsmith77 commented on #854
ok. will take care of it today

[2017-01-20 07:29] lsmith77 commented on #854
done

[2017-01-20 08:53] cedricziel commented on #854
Thx to both of you! :)

[2017-01-20 08:53] #854 closed

[2017-01-20 15:25] picks44 commented on #849
@robfrawley @edvinasnet @adaniloff Thanks, sorry for my basic mistake, I went over too quickly... Will try this new version.

[2017-01-20 15:53] picks44 commented on #849
It's strange, on my dev env (WIndows), I don't need to use the data_root option, but in prod env (Debian) it's looks like i do. Basically my assets are in the web/bundle/mybundle/images (hard copy) and in web/uploads/* (several folders for several types of uploads). Do I need to set a data_root for EVERY folder ?

[2017-01-20 16:12] robfrawley commented on #849
@picks44 If they are symbolic links, yes (you should set their *destination* as `data_root` paths). If they are regular folders, then no.

[2017-01-20 16:17] robfrawley commented on #849
@picks44 You can determine if any symbolic links exist using the `find` command
[code]

[2017-01-20 16:19] robfrawley commented on #849
For example, given the following folders within `%kernel.root_dir%/../web`
[code]
You would have the following as your config for `data_root`
[code]

[2017-01-23 05:22] robfrawley commented on #849
@picks44 Is you issue resolved?

[2017-01-23 05:23] robfrawley commented on #846
@davidromani Is your issue resolved?

[2017-01-23 09:12] garak commented on #849
I'm getting the same issue. Thumbnails are not working anymore since last upgrade. I can't get any error in logs. Configuration in dev looks fine, there is a `data`root` defauit option set when I run `console debug:configuration liip_image`. but in prod is not working  :disappointed:

[2017-01-23 09:27] garak commented on #849
OK I managed to log errors and I found the following:
[code]

I'm using capifony for deploy, I think that's a pretty common solution. How could be possible that you broke it on a minor release? :disappointed_relieved:

[2017-01-23 09:31] picks44 commented on #849
@garak I'm using Capifony to deploy too, and I'm currently trying to get this working. Will give you some updates soon.

[2017-01-23 09:39] garak commented on #849
Solved with following config:
[code]

[2017-01-23 09:40] picks44 commented on #849
@garak yes I was trying this also. Did you put this in your config.yml or config_prod.yml ?

[2017-01-23 09:43] garak commented on #849
When I tried to debug this problem I checked `ImagineController` and I wonder why every exception is not logged? I mean something like `$this->error($e->getMessage)`. This could improve a lot the ability of finding such problems in production

[2017-01-23 09:43] garak commented on #849
I put it directly in `config.yml`, but now you let me think about it maybe `config_prod.yml` is more appropriated

[2017-01-23 10:58] picks44 commented on #849
Strange, if I do this in my config.yml

[code]

And this in my config_dev.yml

[code]

The app still takes into account the config.yml configuration... Isn't it supposed to be overwritten by config_dev.yml ?

[2017-01-23 12:51] garak commented on #849
I think that there's no need to override your config_dev, when I tried with config only, it worked. Anyway, I then moved it to config_prod

[2017-01-23 12:55] picks44 commented on #849
@garak @robfrawley if I do not override my config.yml, then I get this error on ALL my processed images `Root image path not resolvable "C:\wamp\www\MyBundle\app/../../../shared/web"`

[2017-01-23 16:34] robfrawley commented on #849
@picks44 You are using the wrong "slash" character in your paths: on Windows, the correct one is `\`, whereas, on Linux, the correct one is `/`. My assumption (though I don't run anything on Windows) is that PHP isn't going to automatically handle that for you: you need to use the proper slash in your paths.

Moreover, due to this statement "if I do not override my config.yml, then I get this erro

[2017-01-23 16:37] robfrawley commented on #849
@garak @picks44 As for when to use `config.yml`, `config_prod.yml`, `config_dev.yml`, etc:

- Always use `config.yml` for global configuration (something that should apply to ALL environments)
- Only use `config_dev.yml` for configuration that should only apply to your development environment (and not your production environment)
- Only use `config_prod.yml` for configuration that should only appl

[2017-01-23 16:41] robfrawley commented on #849
@garak I'd be happy to merge a PR from you that includes additional logging statements in the `ImagineController`!

[2017-01-23 16:45] robfrawley commented on #849
@picks44 "The app still takes into account the config.yml configuration... Isn't it supposed to be overwritten by [...]"

To clarify a bit, the configurations are not only overridden, but merged. So, with

[code]
[code]

The resolved configuration for the production environment is

[code]

And the resolved configuration for the development environment is
[code]

[2017-01-23 16:53] robfrawley commented on #849
@garak

You likely want the configuration to apply to both your production and development environment. Therefore it should be in `config.yml`. See https://github.com/liip/LiipImagineBundle/issues/849#issuecomment-274540235 for additional info.

[2017-01-24 07:06] picks44 commented on #849
@robfrawley This is exactly what I'm doing and in dev environment I get the same error on all images `Root image path not resolvable "C:\wamp\www\MyBundle\app/../../../shared/web" `
This path is not resolvable because it doesn't exists in my dev environment, so why is it taken into account while my config_dev.yml doesn't mention it? And this is not a backlash or slash issue, as I have other config

[2017-01-24 14:30] Rattler3 opened #855 "Upscale now takes lowest dimention"
Since the amalgamation of upscale and downscale filters upscale works differently.

Previously the below with an input image of 200, 150 would result in an output of 600, 450. Since the new release this now outputs 533, 400.
[code]

[2017-01-24 16:26] robfrawley commented on #849
The way Symfony merges configuration, your array configuration for `data_root` will be merged, so in production, it would result in:
[code]
Whereas, in development environment, it would result in:
[code]
To get around this merge handling of the Symfony Config Tree component, move the config from `config.yml` into `config_prod.yml`, so they aren't merged.

[2017-01-24 16:39] alexwilson opened #857 "Expose the ability to define custom process timeouts"
As of Symfony 2.4, we have the ability to define a custom timeout for processes created via the ProcessBuilder (currently only PostProcessors).

I am wondering if we should float this value to users, as I've seen in the eZ Community Slack that users are hitting the default of 60 seconds with higher levels of optimisation (in fact the default of 7!) when using optipng.

My thoughts are that either

[2017-01-24 17:58] robfrawley commented on #857
:+1: The general idea is great, but I would love to see a bit more flexibility by allowing both a global configuration and a per-post-processor overwrite.

[2017-01-25 09:40] picks44 commented on #849
Thanks @robfrawley.

[2017-01-25 09:40] #849 closed

[2017-01-26 00:43] robfrawley opened #858 ""OutOfBoundsException" and Other Symfony 3.3 Issues"
I recently amended the `.travis.yml` build file in commit 52e2c1c224454760a2c1bea1b8d53eb1860043ee such that:

- Our default version of Symfony when testing against all versions of PHP is now `2.8` (instead of `2.7`)
- The current development version of Symfony (`3.3.x-dev`) and `master` branch are also included

---

The [subsequent Travis build log](https://travis-ci.org/liip/LiipImagineBundle/b

[2017-01-26 13:18] StudioMaX commented on #838
I have the same issue as @xdrew.

[2017-01-26 22:37] robfrawley opened #859 "Add GitHub Issue/PR Template"
Can we add an issue and PR template for GitHub? It's available in the settings panel for the repository and requires someone like @lsmith77 to change.

Taking a look at Symfony's, here is one example of what we could use for __issues__.

| Q | A
| --- | ---
| Bug Report? | yes/no
| Feature Request? | yes/no
| BC Break Report? | yes/no
| RFC? | yes/no
| Imagine Bundle Version | x.y.z

[code]

And f

[2017-01-27 02:54] DavidGarciaCat opened #861 "AWS Europe London (eu-west-2) support"
Hello,

Just want to confirm if the bundle has already support to upload and generate thumbnails using a London's bucket.

Apparently, when I check an uploaded file through S3 console I get different base URLs:
- Ireland: https://s3-eu-west-1.amazonaws.com/ireland-bucket-name/
- London: https://s3.eu-west-2.amazonaws.com/london-bucket-name/

I have some S3 bucket parameters on my Symfony configura

[2017-01-27 03:04] robfrawley commented on #861
@DavidGarciaCat Can you please post your complete config (with credentials censored, of course) and services definitions?

[2017-01-27 08:59] lsmith77 commented on #859
fine for me!

[2017-01-27 09:56] DavidGarciaCat commented on #861
Hey @robfrawley

Thanks for the reply - please find below my configuration details:

`app/config/parameters.yml`
[code]

`app/config/imagine.yml`
[code]

`app/config/config.yml`
[code]

Also, I have implemented a custom Amazon S3 Resolver as described [here](https://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolver/aws_s3.html#configuration) but it is an XML file instead of YAML (pl

[2017-01-27 11:09] cedricziel commented on #858
Closed through #860

[2017-01-27 11:09] #858 closed

[2017-01-27 11:10] cedricziel commented on #859
If I'm not mistaken, we can just drop them into the .github folder instead of having to add them through the settings, right?

[2017-01-27 11:28] #855 closed

[2017-01-27 13:30] AxelBriche opened #862 "This library have a version who can work outside Symfony?"
Hello, this library have a version who can work outside Symfony and with local and remote image-url please?

[2017-01-27 13:36] cedricziel commented on #862
I think you may find a substitute in [Glide](http://glide.thephpleague.com/) it can work with sources through flysystem so that should have you covered.

Other than that - you could assemble the parts yourself. You can get an insight on how everything is structured through configuration and the CompilerPasses. But I doubt it's worth the hassle.

[2017-01-27 13:42] #862 closed

[2017-01-27 13:56] robbeman commented on #560
The upscale filter is not quite sufficient. Consider the following:
An image of 200x100 needs to be thumbnailed to 300x300.

In this case I would suppose this config would do the trick:
[code]

But what it actually does is:

1. Scale the image to 300x150 (not 600x300)
2. Crop the image to 300x150 (since it does not upscale)

The upscale method works, but when you are dealing with user uploaded ima

[2017-01-27 15:40] robbeman commented on #560
You know what, I made a custom filter, enjoy:

[code]

NOTE: only "outbound" cropping is supported here. Inbound cropping can be done with the above.

[2017-01-27 15:55] robfrawley commented on #859
#863 closed this; thanks!

[2017-01-27 15:56] #859 closed

[2017-01-28 07:08] robfrawley opened #865 "[RFC] Provide core implement or enhanced documentation for high-traffic issues"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | n/a

I was glancing through the "graph" pages for this repository and stumbled upon the "popular content" section of GitHub's [traffic graphs](https://github.com/liip/LiipImagineBundle/graphs/traffic), and an idea struck me.

The "popular content" listing gives us an idea

[2017-01-28 10:43] davidromani commented on #846
@robfrawley sorry, but I don't undestand why allowing multiple data roots can fix my problem... I have a legacy project deployed with Capifony and every release creates a new directory.

Check chapter "4.Setup server" here http://capifony.org to see my directory structure. I usually share user uploads directory between deployments, and my web/media/cache dir is **not** shared.

So I only have a un

[2017-01-28 11:26] antoligy commented on #846
You should be able to specify a data root pointing to the current
directory, does that work?

On 28 Jan 2017 10:43 am, "David Romaní" <notifications@github.com> wrote:

[2017-01-29 00:55] antoligy commented on #865
Very nice find, and I completely agree that we should focus on offering up better documentation for these sorts of issues (especially if it helps people adopt this, and cuts down on issues).  Perhaps something along the lines of a FAQ, or maybe we should look at changing the format of pre-existing documentation?

[2017-01-29 01:00] antoligy commented on #861
Nothing stands out as being wrong there, would you be able to check to see if any cache files are being generated in the London bucket?
Also just to check, are you using multiple regions/buckets in parallel?  (Misbehaving code or a misconfiguration here might explain the issue)

[2017-01-29 20:54] DavidGarciaCat commented on #861
Hello @antoligy

For now, I cannot see any cached or generated thumbnail file in London's bucket. Also, I have checked my local cache to be sure it won't be affecting (deleting browser cache & cookies), I double-checked cache software (memcached) was not running (it wasn't), etcetera.

Yes, currently the company that I work for has several buckets in Ireland. We've planned to move the server and s

[2017-01-29 23:23] robfrawley commented on #865
I also think we should provide a more plug-and-play, core implementation for AWS S3. There is too much boilerplate code needed for one to get up and running with it at the moment, IMHO.

[2017-01-30 08:44] davidromani commented on #846
@antoligy I've tried to config this setting and it **doesn't** work.

[code]

And my directory structure is:

[code]

[2017-01-30 18:15] robfrawley commented on #846
@davidromani That won't work. You must add the symlink *resolved* paths to your `data_root` (in your case: `/path/to/my-web-project/releases/20170130083913`. Alternatively, you can use bind mounts or other means.

[2017-01-30 19:06] davidromani commented on #846
@robfrawley so it's not a solution for me because every release the path is changing...

I know that is not a related problem with this bundle, so you can close this issue if you want. Thanks.

[2017-01-30 19:49] robfrawley commented on #846
Again, check out bind mounts, or hard links.

[2017-01-30 23:45] antoligy commented on #846
Actually - I am not sure that those are so easy to set up when working with Capistrano, especially where some webservers (at least, Apache) relies on the FollowSymlinks directive in order to do rolling deploys.
Wondering if it's worth some kind of Composer script that can automatically propagate data root configurations at build/deploy time?  (also not ideal as this kills the immutability of a dep

[2017-01-31 01:28] robfrawley commented on #846
Take, for example, hard links. You could set up the following directory structure:
[code]

And use `application/` as the data root for Apache, Imagine Bundle, etc.

[code]

Given the above, because `application/` is a hard link, it won't be resolved beyond itself, as to the filesystem it appears as a normal directory, despite the fact that it points to a symbolic link that points to the real folde

[2017-01-31 01:34] robfrawley commented on #846
@antoligy Do we want to offer a toggle to disable security checks? And simply allow whatever paths are passed? (Disabled by default, of course).

[2017-01-31 01:38] robfrawley commented on #846
@davidromani Lastly, you could very easily write your own loader that does or does not perform whatever checks you want for your specific situation. I mean, the interface isn't particular difficult to implement, so it'd take only a few minutes:

[code]

[2017-01-31 21:30] robfrawley commented on #846
@davidromani What is the exact, complete, exception you get when using the `current/` directory as the data root?

[2017-02-02 11:36] leperse commented on #560
@robbeman A custom filter is the best solution, thank you for sharing!

[2017-02-02 20:38] robfrawley commented on #560
For those looking to implement their own filters, possibly different from the above example, the steps required to do so are well documented:

http://symfony.com/doc/current/bundles/LiipImagineBundle/filters.html#custom-filters

[2017-02-03 12:26] rvanlaak commented on #752
@kekcius same here, the following snippet should work but it doesnt:

[code]

[2017-02-03 13:14] rvanlaak commented on #750
ping @antoligy  ;)

[2017-02-03 13:22] rvanlaak commented on #752
I've did dive into this, and it seems that because of a bug the masks don't work. PR has been merged January 6th. See:

* http://stackoverflow.com/a/31753084/1794894
* https://github.com/avalanche123/Imagine/pull/449

[2017-02-06 21:55] MathieuThiry commented on #741
Same problem here :(

Any news about this issue ?

Working local : PHP/5.5.12
[code]

Not working server : PHP/7.1.0
[code]

[2017-02-06 23:22] robfrawley commented on #741
@MathieuThiry We can't really diagnose this further without a reproducible system made available to us. If this is a VM, can you clone it and offer access to the clone for a short window? You can contact me via `github AT robfrawley DOT com`. Otherwise, I don't know what we can do...

[2017-02-07 10:07] veighnsche opened #869 "Bundle giving wrong root domain"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 2.0.x-dev

I'm probably doing something wrong, but I have a webserver at home and when I look at the thumbs, I get the correct URL. which is http://{local ip address}/media/cache/item_show_thumb/...

But when I'm looking it from outside my network the thumb URL still starts

[2017-02-07 14:37] rokasmi opened #870 "Wrong image path"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | latest (1.7.1)

Im using vich uploader to upload images and oneup flysystem file abstraction. Also liip imagine bundle to make thumbnails.

The problem is that liip takes my oneup flysystem adapters local path and tries to find `uploads/58998d6502406.png` image in it. When

[2017-02-07 15:19] heddn opened #871 "No matching global declaration available for the validation root"
| Q | A
| --- | ---
| Bug Report? | maybe, more of a support request
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.1
| Symfony version | 3

I've copy/pasted into my app as per: http://symfony.com/doc/master/bundles/LiipImagineBundle/installation.html & http://symfony.com/doc/master/bundles/LiipImagineBundle/basic-usage.html.

When I clear cache, I get t

[2017-02-07 15:22] heddn commented on #871
[code]

[2017-02-07 16:22] robfrawley commented on #871
@heddn What does your routing file look like? Are you using XML or YML (looks like XML). Can you post it; I justed stepped through the manual pages with a fresh copy of Symfony with no issues.

[2017-02-07 16:30] robfrawley commented on #870
Using the `vich_uploader_asset` function means it will apply the configuration defined for `vich_uploader`. In your case, this includes a `url_prefix` which is prepending `/uploads` to the file path.

[code]

This has nothing to due with `LiipImagineBundle`. If the path should be `/media/cache/resolve/my_thumb` and not `/media/cache/resolve/uploads/my_thumb` then you need to remove the `uri_prefix

[2017-02-07 16:46] robfrawley commented on #869
This bundle's web root resolver (which is what you are using) utilizes Symfony's [RequestContext](http://api.symfony.com/3.2/Symfony/Component/Routing/RequestContext.html) object, as provided by the Symfony Container. The `RequestContext` object is used to retrieve both the URL **schema** and **host** values; we [don't otherwise touch these in any way](https://github.com/liip/LiipImagineBundle/blo

[2017-02-07 16:55] robfrawley commented on #869
As a side note, you can determine what the `Request` values are dumping the object in a controller action. The `Request` should be injected by adding it as an argument to the controller action, and then you can go ahead and dump the whole object or make calls against its API.

[code]

[2017-02-07 17:10] heddn commented on #871
#app/config/config.yml
[code]

#/vendor/liip/imagine-bundle/Resources/config/routing.xml
#@LiipImagineBundle/Resources/config/routing.xml
[code]

[2017-02-07 17:16] heddn commented on #871
Figured it out. The problem was where to place the import.

# app/config/routing.yml is the correct place.
# app/config/config.yml is incorrect.

[2017-02-07 17:16] #871 closed

[2017-02-07 17:25] robfrawley commented on #871
@heddn Is the incorrect configuration file referenced somewhere in the documentation, or is there a place in the documentation that warrants a clarification or expansion? Let me know so I can update the documentation, if necessary.

[2017-02-07 17:28] heddn commented on #871
Unfortunately, the doc is fine. I just ready it incorrectly. It clearly states to put the entry in the routing.yml, not the config.yml

[2017-02-07 21:01] antoligy commented on #869
Given the above, I wonder if this might be a matter of caching?  Can you check that you aren't using the Symfony Http Cache or that you aren't running through a reverse proxy which might be rewriting (or removing) headers?

[2017-02-07 21:04] robfrawley commented on #846
Resolved via [1.7.2 release](https://github.com/liip/LiipImagineBundle/releases/tag/1.7.2)!

[2017-02-07 21:04] #846 closed

[2017-02-08 13:15] chadyred commented on #733
I reopen it because I don't want to use S3 for my users and thank you for your reply.

And now, is there a CacheResolver for OpenCloud such the S3 one ? If not, it would be nice to made a CacheResolver for these, it's wide use !

[2017-02-08 21:41] robfrawley opened #873 "[RFC] What version of PHP are you running? What should we require?"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 2.x

I've been reading a lot lately about the trend that most projects continue to support older, and EOL, PHP versions, *despite usage/installation statistics showing steadily growing migration away from PHP `5.5` (and even `5.6`) in favor of `7.x`.*

The second trend in

[2017-02-08 21:46] robfrawley commented on #870
@rokasmi Have you been able to resolve your issue? If so, please close this; otherwise, how else can we help?

[2017-02-09 09:12] rokasmi commented on #870
Fixed by changing `uri_prefix` to empty string (`uri_prefix: ""`). Removing doesnt help, because vich uploaders uri_prefix default value is '/upload'.

@robfrawley, thanks for help ;)

[2017-02-09 09:12] #870 closed

[2017-02-09 09:16] sebastianblum opened #874 "[BUG] 1.7.2 One FileSystemLocator for several FileSystemLoader"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? |no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.2

Hello,
with release 1.7.2 our implementation is broken.

We use several FileSystemLoaders to hide the directories we store our images and to shorten the image urls. We have these config:

[code]

With version 1.7.2, you introduced one FileSystemLoader service for all

[2017-02-10 02:21] robfrawley commented on #874
FYI: You can skip all of this and simply pass an array now; no need to use different loaders:
[code]
That said, this is definetly a bug that requires attention.

[2017-02-10 11:05] sebastianblum commented on #874
hello @robfrawley  thank you very much for your answer.

We used another workaround at the moment because we have sometimes the same image name in different folders.

Can you discuss the solution here in the issue, then I can solve the issue with a pull request.

at the moment, I see two possibilities:

1. One global FileLocator instance and we inject the loaderName, so
$this->roots = ["path1", "p

[2017-02-10 11:36] robfrawley commented on #874
@sebastianblum Originally, I was playing with discrete `*Locator` instances for each `FileSystemLoader`. It's a bit complicated to support Symfony `<2.8` and `>=2.8` due to the incompatible changes between the two to allow "non shared" services (instantiated each time they are requested). I was playing with a compiler pass like the following:

[code]

But I'm open to discussion and ideas, and not

[2017-02-12 08:04] robfrawley commented on #874
@sebastianblum Can you test #875 and report whether it resolves your issue? You patch your vender copy of this bundle by doing something like the following.

[code]

[2017-02-12 20:43] sebastianblum commented on #874
Hello @robfrawley,

Yes, great it works.
Your code looks very good. The SymfonyFramework class is brilliant!

I created one comment direct in your pull request.

Thank you very much for your help and this pull request.
sebastian

[2017-02-13 16:47] javiereguiluz opened #876 "Consider adding GitHub Topics to this repository"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | -

Dear bundle maintainer(s), if you want to make this bundle easier to discover and want to help us creating a stronger Symfony ecosystem, please consider adding some GitHub topics to this repository.

[The official Symfony recommendation](https://symfony.com/blog/standar

[2017-02-13 20:02] robfrawley commented on #876
@lsmith77 ^^

[2017-02-14 09:17] lsmith77 commented on #876
done

[2017-02-14 09:17] #876 closed

[2017-02-14 23:34] kironet opened #877 "tempnam(): open_basedir restriction in effect. File(/tmp) is not within the allowed path(s)"
Hello,

I have a problem with this bundle. Everything works on my server(Plesk Onyx)
But after I moved my website to shared hosting, I'm getting this error. Where can I change path to the /tmp?
BTW I tried to clear cache.

[code]

Thank you

[2017-02-14 23:49] cedricziel commented on #877
You should set your ini setting `sys_temp_dir` to a place you can actually write to :)

[2017-02-15 00:09] kironet commented on #877
Thanks, but I don't have access to ini files. Can I change it in php? If so where I should place the code?

[2017-02-15 08:29] cedricziel commented on #877
If you can't change it yourself, I'd say it's probably best to have your webhost change it for you to `/home/user02157/domain_name/.tmp`.

Apart from that you can call `ini_set` or have your .htaccess manipulate that setting.

I'm going to close this issue now, since it's not really a problem with the bundle. - Please feel free to re-open if you think it is :)

[2017-02-15 08:29] #877 closed

[2017-02-15 09:11] kironet commented on #877
I still think it is the bundle problem, because I've just printed `ini_get('upload_tmp_dir');`

and it returned this:

not just

[2017-02-15 09:25] cedricziel commented on #877
Which is good - but `tempnam` uses `sys_get_temp_dir` here (https://github.com/liip/LiipImagineBundle/blob/2eafba4d25c16655b1e2937a802a1ed5357b5868/Binary/SimpleMimeTypeGuesser.php#L36) which is used for guessing the mime type. - This still leaves you with a misconfigured php environment and the bundle failing is just a symptom.

The ini settings `upload_tmp_dir` and `sys_get_temp_dir` are indepen

[2017-02-15 09:29] kironet commented on #877
Oh, thanks now I get it.
I can just say "Stupid hosting".

[2017-02-15 09:29] cedricziel commented on #877
Hehe, good luck with that ;)

[2017-02-15 14:50] raphaelriehl opened #878 "How debug a custom filter ?"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 1.7

First, thanks for this amazing bundle !
I have question for my custom filter... how i can debug this ?
My custom filter is well applied on my images, but i don't know how i can debug this.

[2017-02-15 15:02] cedricziel commented on #878
You can debug the bundle functionality like any other php application: through a debugger like [xdebug](https://xdebug.org/).

Your IDE should have support for debugging php applications, but most PHP IDEs do. For reference, here is an article using PHPStorm: https://www.jetbrains.com/help/phpstorm/2016.3/debugging-php-applications.html

When applied, you should be able to set breakpoints in most

[2017-02-15 15:02] #878 closed

[2017-02-15 15:50] raphaelriehl commented on #878
More exactly, i want intercept information when my cache is generated with my new filter.

I would like to know where or when exactly my filter is executed for listen an eventual exception or information with var_dump, for example.

Yes and no... When i use a var_dump in most php file in Symfony who are called in the process, this is displaying when i call my page in my web browser or in network r

[2017-02-15 16:12] cedricziel commented on #878
No need to apologize :)

`var_dump` is only able to capture the state of a pointer reference, but doesn't really have much for you to give. In fact I'd consider using `var_dump` (or the `dump` function and filter to expand on it) useful for exactly one purpose: Evalutating a datastructure and letting me see through it. - If you want to have a closer look at sequences or the state mutations, i stro

[2017-02-15 16:20] raphaelriehl commented on #878
Ok I will be documenting on this subject. Thanks for your answers.

[2017-02-16 09:20] AlexandreKilian opened #879 "Images not being resolved outside standard paths"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | yes
| Imagine Bundle Version | 1.7.2

After upgrading from 1.6.0 to 1.7.2, LiipImagineBundle couldn't resolve paths outside of the application anymore. We're using a deployment tool that symlinks our uploads from a directory outside of the application ( `/shared/web/uploads` vs `/current/web/uploads` ), this worke

[2017-02-16 18:47] robfrawley commented on #879
Please see https://github.com/liip/LiipImagineBundle/blob/1.0/UPGRADE.md. You can either register all the *resolved* root paths (the directories your symbolic links point to, not the symbolic links themselves) or enable the old, insecure loader.

[code]

[2017-02-17 20:11] robfrawley commented on #879
@AlexandreKilian Does this resolve your issue?

[2017-02-20 09:08] robfrawley opened #880 "Slack Channel"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | [1,2].x

I just recently created an Imagine Bundle [Slack](https://slack.com/) channel to serve as an *unofficial* support channel, as well as provide a medium for enthusiastic contributors to communicate real time and discuss code or structural changes, project directions,

[2017-02-22 21:39] bobvandevijver opened #881 "Public resources are denied by the default FileSystemLoader"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | yes
| BC Break Report? | yes
| Imagine Bundle Version | 1.7.2

With the release of the 1.7.2, the FileSystemLoader no longer accepts images which are not placed in the "save" data roots. However, this breaks the logic of the public resources in your src directory, if they are symlinked in the web directory.

This asset symlinking is a co

[2017-02-22 23:56] robfrawley commented on #881
@bobvandevijver You can either configure your data roots explicitly (yes, this does require you specify all resolved symbolic link paths) or you can switch to the old resolver algorithm.

The default moving forward is to consider symbolic links unsafe. While the usage you are describing is safe, how would you expect we determine that *all* symbolic links are safe? We can't: they could point anywhe

[2017-02-23 08:43] bobvandevijver commented on #881
I do not want to consider all symbolic links safe, only the symbolic links that point to bundles which have a `Resources/public`-folder, which is, considering the Symfony standard, safe for web usage.

Let's consider the `asset:install` command that is shipped with Symfony. Al it effectively does is making the bundles resources accessible through the web directory, with which you can choose differ

[2017-02-23 09:25] robfrawley commented on #881
You can submit a PR and see what the other maintainers think of this idea, but again, the point I am trying to make is that the allowed data roots should be constrained by the user, regardless of the paths.

Most people aren't operating on assets checked into their version control system, as these should be processed already, hence their inclusion in VCS. For those who are, they can easily allow t

[2017-02-23 11:54] bobvandevijver commented on #881
The advantage of using the `kernel` service over using regular expressions (specifically the example you provide) is that with the `kernel` service you only have the enabled bundles that you add to the root paths, instead of adding all bundles.

For you question on the different `foobar.png` files in different folders: that's why you have the different folders, right? You would either request `fol

[2017-02-24 15:41] AntoineTesson opened #884 "path not correctly generated when the picture its not under bundle"
| Imagine Bundle Version | latest

Hi its my conf, i have a problem, when i put a filter with a concatenate twig, the path of liip add a "resolve" directory and he don't works.

liip_imagine :
    driver:  imagick
    resolvers :
        default :
            web_path : ~

    filter_sets :
        cache : ~
        my_thumb :
             quality : 100
             filters :
                thumb

[2017-02-24 19:41] AntoineTesson commented on #884
Its ok, its widen not WIDDEN xD

[2017-02-24 19:41] #884 closed

[2017-02-25 03:24] robfrawley commented on #881
The way you implemented this in #883 seems logical so I'm happy to sign off on it.

[2017-02-25 03:24] #881 closed

[2017-02-25 09:28] javiereguiluz commented on #880
@robfrawley is this a whole new Slack chat or a channel inside Symfony Slack? For bundles, we usually create a channel inside Symfony to leverage the existing community.

[2017-02-25 09:30] javiereguiluz opened #885 "[RFC] Consider removing the class parameters"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| Imagine Bundle Version | -

A while ago, the Symfony project decided that using `.class` parameters was a bad practice. More and more bundles are removing those parameters (e.g. https://github.com/symfony/monolog-bundle/pull/170)

Would you consider removing those parameters in your bundle? Thanks!

[2017-02-25 16:53] robfrawley commented on #880
@javiereguiluz Ooh; didn't realize that. Thanks for the info!

[2017-02-25 16:53] #880 closed

[2017-02-25 16:55] robfrawley commented on #880
For reference, you should use the following link to request an invite to the `symfony-devs` chat and then use the group `#imagine-bundle`.

[2017-02-27 14:32] robfrawley commented on #874
Solved via #875 which has been merged into `1.0`. The next release to include this bugfix will be `1.7.3`, scheduled for release in the first half of this week.

[2017-02-27 14:32] #874 closed

[2017-02-28 13:37] antoligy commented on #885
I completely agree with this, and have started removing .class parameters elsewhere.

[2017-02-28 22:42] robfrawley commented on #885
We currently rely on some parameters for functionality (such as the metadata reader), but I think this would be a solid feature for our next major release (`2.0.0`). Any takers on implementing this? ;-)

[2017-03-01 13:20] PGLongo opened #889 "Wrong documentation imagine_filter filter"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| Imagine Bundle Version | 1.7.2

In the [documentation](http://symfony.com/doc/master/bundles/LiipImagineBundle/basic-usage.html#create-thumbnails) is written:

[code]

But it doesn't work for me. I've to change as follow:

[code]

It's necessary to apply the filter before assets.

Am I wrong?

[2017-03-01 18:29] robfrawley opened #890 "Image transformation library proxy"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 2.0

We should create a proxy class for image transformation operations, and work to support multiple drivers, including [Intervention/image](https://github.com/Intervention/image), [avalanche123/Imagine](https://github.com/avalanche123/Imagine), as well as the (possibly)

[2017-03-02 07:49] lsmith77 commented on #686
FYI https://github.com/symfony/symfony/pull/21820

[2017-03-02 08:13] robfrawley commented on #686
@lsmith77 Yup! See #890. Would love feedback on my thoughts there, if a proxy is the right direction to go, or if we should stick with a direct dependency.

[2017-03-02 08:50] plozmun opened #892 "Changes in Aws Definition"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | yes
| RFC? | yes
| Imagine Bundle Version | 1.7.3

When update at this version i got error:

`Cannot dump definition because of invalid class name ('\\Aws\\S3\\S3Client') `
Can be related to this [Changes in Aws Definition](https://github.com/liip/LiipImagineBundle/compare/1.7.2...1.7.3#diff-5584d98c341355797ea40f

[2017-03-02 10:20] Chrysweel commented on #892
+1

[2017-03-02 10:33] cedricziel commented on #892
Please comment on #893 whether this fixes it for you. Thank you!

[2017-03-02 13:41] jorgewiva opened #894 "Broken path with images over 5mbs"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 1.7

I want to resize all the images in my app with a simple filter (reduce the quality and the size like in a 70% for example), but when I upload images around 5mb, the path breaks and it does not find the image, but somewhat I think it's a random value (maybe not 5mb at

[2017-03-02 20:02] #892 closed

[2017-03-06 20:14] robfrawley commented on #894
The path containing `resolve` is the controller action that creates the cached image (so the URL will appear when no cached image exists for the given image/transformation). Once it is cached, that is removed and the file is directly referenced. This is __not__ new behavior.

[2017-03-06 20:18] robfrawley commented on #894
Also, have you checked the max memory limit of your PHP installation? If it's set to something like 5mb or even 10mb, you're going to experience issues. Sometimes (though we are trying to lower this floor as much as possible) you should expect to need 2x the size of the image in memory. Possible important ini settings (depending on whether you are performing uploads or not) include:
[code]
You can

[2017-03-09 05:07] kironet opened #897 "LiipImagine doesn't generate/save images + ignoring cache_prefix parameter."
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 1.7

Hello,

I have a problem with this bundle.
It doesn't work...

Here is my config:

[code]

Here is twig:

`<img class="img-responsive" src="{{ ('bundles/webshop/img/apple/models/' ~ product.model.image) | imagine_filter('290x188') }}"/>`
or
`<img class="img-responsive

[2017-03-10 10:12] thomas2411 opened #898 "Failed to create (...) mkdir(): File exists."
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.1

I have a weird behavior on Symfony 3.2 and don't know if this is a configuration problem or what, but when I use Cache manager in Controller to resolve a path to the image I get this error:

I try to resolve a path to a filtered image (thumbnail with optimization).

[2017-03-12 04:53] robfrawley commented on #897
Are your images getting generated properly, but not cached? Or are they both *not getting generated* __and__ *not getting cached*?

[2017-03-12 15:15] xorgxx commented on #897
Hi i'm having the sime probleme. generation url in twig is there but the file in folder das not existe or created.

[2017-03-12 17:39] xorgxx commented on #897
i have passe to Version 1.7.2 still the sime

[2017-03-14 13:34] jeroendesloovere commented on #784
I'm having the same problem.
Didn't find any solution yet.
[code]

My twig layout:
[code]
Result in HTML
`<img src="http://xxx.dev/media/cache/resolve/lightbox_small/src/xxx/xxx.jpg" itemprop="thumbnail" alt="zonnepaneel4-large">`

Can somebody help me?

[2017-03-16 11:36] jeffsacco opened #899 "Watermark SVG not working"
Anyone tried using an SVG for the watermark image?  I had success with regular images for the watermark but was looking to use an SVG. Totally died.  Couldn't read it.

Is it possible to use an SVG for the watermark image?

[2017-03-17 06:57] kironet commented on #897
@robfrawley both.

[2017-03-17 07:41] xorgxx commented on #897
@kironet i was before and i deed have this probleme.

[2017-03-17 07:50] xorgxx commented on #897
for info before the folder structure was   ```web\media\cache\thumbnail32```, i see the structure now lake this ```web\media\cache\resolve\thumbnail32``` maybe this is the probleme ??

[2017-03-18 10:31] Sense opened #900 "Source image could not be found with Amazon S3"
Hello, I'm currently encountering a strange issue with the bundle. The error is the following one ; `Source image could not be found`
The log shows up the following BAD request ; `"request":"myapp.com/media/cache/resolve/thumbnail/https://s3-eu-west-1.amazonaws.com/myapp/images/project/394/thumbnails/394.jpeg"`

Here's my configuration :

[code]

and my parameters.yml, indeed ;

[code]

Thank you

[2017-03-18 14:55] robfrawley commented on #897
Either of you tried the latest release? [1.7.4](https://github.com/liip/LiipImagineBundle/releases/tag/1.7.4)

[2017-03-18 17:12] xorgxx commented on #897
hi will now try the last.

[2017-03-18 19:28] xorgxx commented on #897
so i update to 1.7.4, i have same probleme.

[2017-03-19 08:23] kironet commented on #897
@robfrawley 1.7.4 fixed it. Now it's working.

[2017-03-19 08:23] #897 closed

[2017-03-19 13:56] malas opened #901 "Remove cache for a single source image"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.4

is there any way to remove all filters cached images for a single source image?
This is a common use case for any CMS when previously stored images are deleted. I wanted to implement this via PRE_REMOVE event for an Image entity.

[2017-03-20 11:59] pascalbeynel commented on #784
I had the same problem. Just launch :
`php bin/console liip:imagine:cache:resolve relative/path/to/image1.jpg --filters=yourfilter`
You will get the error message. In my case, I was on a new server with GD not installed.

[2017-03-20 13:15] jeroendesloovere commented on #784
Hi @pascalbeynel, that is a temporary solution for one image.
But I have hundreds of images...

[2017-03-20 13:15] jeroendesloovere commented on #784
Anybody else knows a solution that fixes it?

[2017-03-20 13:17] pascalbeynel commented on #784
@jeroendesloovere The idea is to test with one image. This way you can have the error detail why your thumbnails are not generated.

[2017-03-20 14:57] jeroendesloovere commented on #784
Well, that is the strange thing.
My config.yml
![schermafbeelding 2017-03-20 om 15 55 23](https://cloud.githubusercontent.com/assets/588616/24105621/c0a146f4-0d85-11e7-8c4a-79a50416c410.png)

When I execute:
`php app/console liip:imagine:cache:resolve Source/01/schermafbeelding-2017-03-16-om-14-31-17.png --filters=backend_thumb`

The image is created.
But when I refresh the page, the image url is

[2017-03-22 08:42] Hellow opened #902 "Installing LiipImagineBundle for Symfony 2.7 using Composer"
Hi !

I'm trying to install the LiipImagineBundle using Composer on my Symfony project 2.7 but I  keep getting the same errors

[code]

I also tried to install older version of the bundle but still getting the same error, for example:

[code]

Do I do it wrong ?
Please enlighten me, thanks !

[2017-03-22 13:29] robfrawley commented on #902
@Hellow The error you are getting is unrelated to this bundle, but let's see if we can't fix your Composer dependencies issue, regardless.

The error Composer is displaying is pretty clear: the bundle `sensio/geneframeworkrator-bundle` cannot be found in any version, ie **that bundle does not exist**. You seem to be trying to require a combination of the following bundles:

- `sensio/generator-bun

[2017-03-22 13:35] pzaj2 opened #903 "Multiple data_path and source image still can't be resolved"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.2

I'm having a hard time using this bundle since 1.7 update. I've been able, following other issues' answers to resolve issue with symlinks, at least that's what I thought. I'm currently experiencing quite opposite issue.

I'm using Deployer PHP to deploy.

this is my

[2017-03-22 13:50] Hellow commented on #902
Yes, I understood it a little bit later after removing the vendor repo and re-installing the dependencies with composer.

It's in fact a problem with my version of Symfony, don't know why suddenly the package "symfony/symfony 2.7.*" is blocked like that. I tried everything but... I found no solution, it's definitely blocked.
I had to change it from 2.7.* to 2.8. I hope I will not have more problem

[2017-03-22 13:50] #902 closed

[2017-03-22 17:19] robfrawley commented on #903
The image you are requesting, per the exception message, is `images/application-octet-stream.png?v=1490184091182` whereas the file you want to load is `images/application-octet-stream.png`.

[2017-03-22 17:22] robfrawley commented on #900
What result do you get when resolving this image via the Symfony Console's CLI command for this bundle?

[2017-03-23 14:42] polantis commented on #568
Hello, is it going to be supported soon or we still need to write a custom resolver?

Thanks

[2017-03-24 08:11] ghostal commented on #850
I think this is the same problem I have been having, which I think I have just now got to the bottom of.

When there is a copy of the image with the filter already applied stored in the cache, the `imagine_filter` twig filter generates a URL like this:

`/media/cache/avatarfilter/uploads/bst980/avatar/282c3874413d9efb83bb37a773d82245.jpeg`

As this URL directly points at the cached image file, the

[2017-03-24 19:36] pzaj2 commented on #903
@robfrawley I understand and I did test it, you are right about that, I suppose my best shot would be to remove the twig all to asset function in order to strip the version parameter. Or perhaps there's some sort of a "hack", or parameter, to ignore certain parts of request URL?

[2017-03-24 22:41] robfrawley commented on #903
Based on a cursory examination of the code, I do not see any special handling or configuration options that would allow it to ignore the query string section of a path. A pull request enabling such would be welcome.

[2017-03-25 17:46] Kwadz opened #905 "Is a thumbnail created while the original file is already small?"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.4

When I try to display a thumbnail with:

`<img src="{{ artiste.image.webPath | imagine_filter('my_thumb') }}" />`

I get the following error in the case the original picture is already small (no problem with large pictures):

`An exception has been thrown during the

[2017-03-25 19:39] robfrawley commented on #905
@Kwadz You need to register the routes in your application. You should follow the [installation instructions](http://symfony.com/doc/current/bundles/LiipImagineBundle/installation.html#step-3-register-the-bundle-s-routes), specifically how to [register the routes](http://symfony.com/doc/current/bundles/LiipImagineBundle/installation.html#step-3-register-the-bundle-s-routes).

[2017-03-26 17:01] Kwadz commented on #905
Indeed, I removed it by mistake.
Thanks

[2017-03-26 17:01] #905 closed

[2017-03-27 14:23] jowe1 commented on #168
@haavg it works like you said although the documentation says:
<img src="{{ asset('/relative/path/to/image.jpg') | imagine_filter('my_thumb') }}" />
on
http://symfony.com/doc/master/bundles/LiipImagineBundle/basic-usage.html

Please fix the documentation or explain why that is ...?!

[2017-03-27 18:28] robfrawley commented on #905
@Kwadz No worries; glad to help.

[2017-04-07 12:25] sergiownd opened #906 "Auto_rotate not working"
Hei guys I'm having problems with IOS images, so I've tried to use the bundle but I cant make it run. Here is my config.yml:

[code]

If i remove the auto_rotate it works, but I need it, any idea?
Thanks

[2017-04-07 23:12] robfrawley commented on #906
We need a bit more detail than "I can't make it run" such as the exception or error message you are receiving, or the behavior you are expecting and not getting, or really any additional information about your setup, such as the version of Symfony and this bundle you are using. If you project is open source, you can also point to that.

[2017-04-07 23:15] robfrawley commented on #906
Also, have you looked at the existing issues involving rotation?

- https://github.com/liip/LiipImagineBundle/issues/741
- https://github.com/liip/LiipImagineBundle/issues/737
- https://github.com/liip/LiipImagineBundle/issues/532

[2017-04-09 07:37] fritzmg commented on #168
👍 for cache busting ability. I am in need for that as well currently and I have to resort to manually renaming the file.

[2017-04-10 07:08] sergiownd commented on #906
My problem is that if I dont use the auto_rotate, my image is generated. But when I use it, the img is not generated. Im using symfoy 2.8 and the las LiipImagine version.

Logs shows no error, but the image is not generated.

Im using the function in the twig like this:

<div class="img_profile_card" style="background: url({{absolute_url(asset('profile_images/'~app.user.imageProfile)| imagine_filt

[2017-04-12 21:24] webtsx opened #907 "How to remove domain from URL while using imagine_filter ?"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | yes
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 1.7.4

I am trying to use your bundle, but when I apply
{{ asset(img) | imagine_filter('thumb') }} I get
http://domain.com/media/cache/resolve/thumb/image.jpg
but I would like to get /media/cache/resolve/thumb/image.jpg without domain?
How can I do this ?

Thank you in a

[2017-04-13 02:18] robfrawley commented on #907
By default, you are using the [`WebPathResolver`](https://github.com/liip/LiipImagineBundle/blob/1.0/Imagine/Cache/Resolver/WebPathResolver.php), which does include the domain. You can extend that resolver and make the required changes to have it return only the path. For additional information on writing your own cache resolver, and more importantly, registering and using that cache resolver, ref

[2017-04-13 02:19] robfrawley commented on #907
FYI, the only method you need to change is [WebPathResolver.php#L68](https://github.com/liip/LiipImagineBundle/blob/1.0/Imagine/Cache/Resolver/WebPathResolver.php#L68).

[2017-04-13 02:21] robfrawley commented on #906
Are you using the latest version of the [Imagine Library](https://github.com/avalanche123/Imagine). What image transformation extension are you using? Having you tried a different one? Do you have the `exif` extension installed?

[2017-04-16 15:47] rsaenen opened #910 "Path save after using filter"
| Q | A
| --- | ---
| Bug Report? | np
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.4

Hi,
I got a question about how this bundle saves images after using a filter, here is my configuration :
- I use LiipImagine as a service
- I don't use Twig, my app is REST
- I post the image and I save it in that folder "web/uploads/temp"
- I use the function "filte

[2017-04-16 17:41] robfrawley commented on #910
The "[Cache Resolver](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolvers.html)" implementation handles saving, retrieving, and deleting the transformed image, and by default, you are using the "[Web Path Resolver](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolver/web_path.html)". If you want to change this behavior, you can implement your own `CacheResol

[2017-04-16 17:45] rsaenen commented on #910
Thanks a lot, this answer is perfect ;)
I'm working on it !

[2017-04-16 17:45] #910 closed

[2017-04-16 17:48] robfrawley commented on #910
Glad to help!

[2017-04-16 17:51] robfrawley commented on #907
@webtsx A more extensive answer describing custom cache resolvers is available here: https://github.com/liip/LiipImagineBundle/issues/910#issuecomment-294364254. Has your issue been resolved? Please close this issue if it has, or otherwise, let me know what issues you are facing.

[2017-04-16 21:26] webtsx commented on #907
@robfrawley Sorry for my delayed response, but I didn't have much time to check this solution.
It works like I needed. Thank you very much for your quick feedback!

[2017-04-16 21:26] #907 closed

[2017-04-17 06:02] indapublic opened #911 "Do not check the existence of the directory in data_root"
I'm using symlink on remote server, so I found LiipImagineBundle not working if I not setted data_root needed

[code]

But on local machine I receive message (in cli)

[code]

because "%kernel.root_dir%/../../my-assets/dev" is not exists on my local machine.

What is the best way to pass it?

[2017-04-17 10:08] indapublic opened #912 "Images will still be resolved in /media/cache location"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.4

My **liip_imagine.yml**

[code]

All is fine in CLI:

[code]

And **that** image displayed in browser. But the rest of the images have wrong paths, like this:

[code]

I guess, there is an error in my configuration file, but cannot find it.

[2017-04-18 06:58] cedricziel commented on #912
The URL should change the second time you're rendering the page since the URL you posted is the temporary one while resolving the asset into the cache, if I'm not mistaken.

[2017-04-18 11:54] indapublic commented on #912
@cedricziel Thanks for your response.
I'm reproducing on local machine server environment
So, my image have location `https://example.com/media/cache/resolve/book_thumb/uploads/cover/b6f65f390c824dfe9ac41109e3801b48.jpeg` which resolved to `http://example.com/uploads/thumbnails/book_thumb/uploads/cover/b6f65f390c824dfe9ac41109e3801b48.jpeg`, it's correct behaviour

But I have 404 Error on my remot

[2017-04-18 12:05] indapublic commented on #784
@jeroendesloovere Hm, probably I have same issue. Are you using nginx?

[2017-04-18 12:06] cedricziel commented on #912
Most probably it's an issue with your nginx configuration, yes.

The default nginx configuration will short-circuit urls ending with `jpg, gif` etc to the file system and not to the application.

If this solves your issue, please close the ticket, thx! :)

[2017-04-18 12:08] msalsas commented on #850
I had the same problem as @ghostal and solved adding a query parameter to the resolve URL. Something like:

    public function getPath()
    {
        return $this->path ? $this->path . '?v=' . time() : null;
    }

In this way, if the thumbnails have been removed, the browser will try to get the image instead of directly redirect, as the URL is not identical.

Hope this helps

[2017-04-18 12:12] sergiownd commented on #906
hei @robfrawley So i have to basicly install one of the php libraries (gd, imagic or gmagick and also exif?
I have not installed any of this ones. Could u please make a list of which php libraries do i need to instal?
Thanks.

[2017-04-18 12:20] jeroendesloovere commented on #784
I fixed it by moving
[code]
To the top in `app/config/routing.yml`

[2017-04-18 12:24] indapublic commented on #784
@jeroendesloovere Tried this, not solved my issue. Are you using nginx?

[2017-04-18 12:52] jeroendesloovere commented on #784
I'm not using nginx.
Did you did `app/console cache:clear`?

[2017-04-18 13:35] indapublic commented on #912
Add instructions to nginx configuration

[code]

404 error is disappeared, but now I receive 500 error and _"rewrite or internal redirection cycle while redirect to named location "@rewriteapp""_ in nginx log. And no more messages or errors

[2017-04-18 14:00] havvg opened #913 "Praise in the public :)"
I just received this email.

By forwarding this, I would also like to thank every single contributor, who put efforts into this bundle. Thank you!

[2017-04-18 14:33] indapublic commented on #912
Changed configuration to

[code]

And all is fine. Cheers

[2017-04-18 14:33] #912 closed

[2017-04-18 14:38] cedricziel commented on #912
Great - Thx for the feedback!

[2017-04-18 14:43] robfrawley commented on #906
See the [composer suggestions](https://github.com/liip/LiipImagineBundle/blob/1.0/composer.json#L52) for packages you'd need for different environments: you don't need all of them, only the ones required for your usage. You likely already have `gd` installed. You can try using either `imagick` or `gmagick` if `gd` isn't working as you'd expect (I'd suggest `imagick`).

As far an the `exif` extensi

[2017-04-18 14:51] indapublic commented on #784
Yeah, I tried, no difference :)
But I founded solution. I add instruction to my nginx and all works!

[code]

Cheers!

[2017-04-18 15:09] robfrawley commented on #784
I don't know why you are only using `try_files` at that location (how do you properly serve up CSS or image files?). For those having issues with Nginx, the configuration I always use for Symfony (including projects with this bundle) is the following:

[code]

[2017-04-18 15:17] robfrawley commented on #911
@indapublic I suggest using your `config_dev.yml` file to define the paths that should exist in your development environment and your `config_prod.yml` file to define the paths that should exist in your production environment.

[2017-04-18 15:31] robfrawley commented on #901
See the [cache manager documentation](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-manager.html#cache-removal) for more information.

[2017-04-18 17:28] malas commented on #901
There is no information regarding single image's all filter removal. Currently i just hardcoded available filter paths and remove the files manually.

[2017-04-18 22:59] robfrawley commented on #901
You need to specify the filters you want to remove. All operations are per-filter. If you'd like to submit a PR exposing the functionality you'd like, feed free to do so, though.

[2017-04-19 14:46] #901 closed

[2017-04-19 14:50] malas commented on #816
Anyone solved this issue?

An example would be great. If provided i promise i will make a PR to documentation with it.

[2017-04-19 21:00] indapublic commented on #784
@robfrawley In my project this is the correct config, but thanks, I will remember your remark in the future

[2017-04-19 21:02] indapublic commented on #911
@robfrawley Yes, I have config file for each environment, but I have server (call him staging, for example) with dev environment, but different directory structure. I understand your position, but maybe it makes sense to add it to the configuration file?

[2017-04-19 23:42] robfrawley commented on #911
@indapublic I just don't agree that such a configuration option should be the responsibility of this bundle; your issue should be resolved through an existing solution IMHO. With that said though, *please feel free* to open your own PR with the functionality you're describing and see what the other maintainers think of it; I'm only one voice in a democracy so others may have differing opinions.

-

[2017-04-20 00:09] indapublic commented on #911
@robfrawley Ok, thanks for explanation

[2017-04-20 00:09] #911 closed

[2017-04-22 08:58] rpkamp commented on #903
Paths do not have query strings, URLs do. It seems you are mixing the two.
@pzaj2 could you show the twig code that caused this exception?

[2017-04-22 09:11] rpkamp commented on #889
I would suggest that it depends where you cache your processed images. If they are stored somewhere in your web directory both approaches work, but if they are stored outside of your web directory only the second approach works.

So the question is, what configuration are you using for the bundle / where are you storing cached images?

[2017-04-22 09:14] rpkamp commented on #885
I'll take a stab at it :smiley:

[2017-04-22 09:47] rpkamp commented on #890
This can be quite easily done by applying [Template Method](https://en.wikipedia.org/wiki/Template_method_pattern) to the `FilterManager` where most of the current implementation is fixed, but the `apply` method has to be implemented for each concrete implementation. That way you can ensure the flow of image processing is controlled (filter first and then post process) while each concrete implemen

[2017-04-22 18:42] rpkamp commented on #903
Issue seems related to https://github.com/liip/LiipImagineBundle/issues/838

[2017-04-23 11:45] pzaj2 commented on #903
@rpkamp Yes, this is the exact issue I am having. Well, I did simply remove asset helper calls followed by imagine filter, but I guess it would be good to have both co-existing well. For now I would close this bug report and focus on related issue

[2017-04-23 13:35] raphydev opened #915 "How Create a resolver that create filters that points to a subdomain, a subdomain prefix"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | ^.1.6

Please, I need a track
I use Liip_imagineBundle to crop my images, I upload my images to a folder pointing to a subdomain: / var / www / imgs => img.example.com, I have installed the Bundle LiipImagineBundle Have filters that crop images and stock into a subdomain f

[2017-04-23 23:05] robfrawley commented on #903
@rpkamp I understand paths cannot have query strings, but paths are passed via URLs, which can, hence they should likely be removed when the URL is converted into a path.

[2017-04-24 01:36] robfrawley commented on #915
You can easily create a custom cache resolver, as [detailed in the official documentation](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolvers.html#custom-cache-resolver), and have it return whatever domains you'd prefer, as well as manage what directory structure you use to write and fetch the cached images. For additional information, see the https://github.com/liip/LiipImag

[2017-04-24 08:18] rpkamp commented on #903
Or maybe the query string should be re-added to the URL? They were there for a reason, namely versioning.

So

`{{ 'path/to/image.png?v=123'|imagine_filter }}`

would result in something like

`/image/cache/resolve/image.img?v=123`

which will then in turn redirect to

`/image/cache/image.png?v=123`?

[2017-04-24 09:49] raphydev commented on #915
Thanks @robfrawley , I'm looking for how to write a custom resolver and if it works then I would put the solution and then close the issue. I am always open to other proposals

[2017-04-24 14:46] raphydev commented on #915
@robfrawley , Instead of creating a custom resolver, the ProxyResolver can set this history, but I can not configure it properly

[2017-04-24 15:32] raphydev commented on #641
@makasim  how to configure ProxyResolver with  liip_imagine.cache.resolver.default. ? my source image is storage in subdomain folder.

[2017-04-24 16:15] marcobarcaro opened #916 "How to display image without saving to disk"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | master

Hi, is it possible to apply a filter and display the relative image without saving it to disk?

[2017-04-24 17:24] makasim commented on #916
Take a filter manager service and pass image binary to its apply method, and a config as a second argument.

[2017-04-25 14:37] marcobarcaro commented on #916
I created a custom filter:

`<?php
namespace AppBundle\Imagine\Filter\Loader;

use JMS\DiExtraBundle\Annotation as DI;
use Imagine\Image\Box;
use Imagine\Filter\Basic\Show;
use Imagine\Filter\Basic\Resize;
use Imagine\Image\ImageInterface;
use Liip\ImagineBundle\Imagine\Filter\Loader\LoaderInterface;

/**
 * @DI\Service("filter.show_filter")
 * @DI\Tag("liip_imagine.filter.loader", attributes = {"

[2017-04-25 17:51] cedricziel commented on #916
Great - thank you for the feedback! :)

[2017-04-25 17:51] #916 closed

[2017-04-27 12:03] raphydev commented on #915
No solution

[2017-04-27 12:03] #915 closed

[2017-04-27 13:12] raphydev opened #917 "Create my thumb on a subdomain"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? |no
| RFC? | no
| Imagine Bundle Version | ^.1.6

what I have done:

1. I upload my images to a subfolder of a subdomain called: http://img.labs.dev
2. My main domain is http://www.labs.dev
3. To retrieve an image source I configure the assets in config.yml in this way :
`framework:`
    `assets:`
       ` packages:

[2017-04-27 19:33] qweluke opened #918 "How to flip image horizontally/vertically?"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | ^1.6

quick question: how to flip image vertically and/or horizontally?

[2017-04-27 22:42] robfrawley commented on #915
@raphydev Did you intend to close this? Anyway, you can absolutely do what you described by using a custom resolver (as I previously described). Have you tried that? If you have, what is the issue you are having with it?

[2017-04-27 22:48] robfrawley commented on #917
Please do not pollute the issue tracker with intentionally created duplicates: #915.

[2017-04-27 22:53] robfrawley commented on #917
I am having trouble following your English; perhaps you can post your issue description again using your native language? (I can then use https://translate.google.com/ and see if that gets us moving forward...)

[2017-04-27 23:12] robfrawley commented on #918
You must implement a [custom filter](http://symfony.com/doc/current/bundles/LiipImagineBundle/filters.html#custom-filters) as none of the filters provided by default implement a flip method. For example, here is the basic filter implementation you'd need:

[code]

Then, register the filter in your `services.yml` file, ensuring it is tagged with the "name" `liip_imagine.filter.loader` and the "load

[2017-04-28 03:46] #917 closed

[2017-04-28 09:30] qweluke commented on #918
@robfrawley thank you!

[2017-04-30 00:28] robfrawley commented on #918
FYI: I just submitted a pull request (#920) that adds the `flip` filter (identical to my above example) within the core bundle; it should be included in the next minor release, likely `1.7.5`.

[2017-04-30 00:28] #918 closed

[2017-04-30 15:52] robfrawley commented on #906
@sergiownd Has your issue been resolved? Please close if so; otherwise let us know so we can continue to provide assistance.

[2017-04-30 16:04] robfrawley opened #921 "[RFC] Split suggested dependencies into their own packges/repos"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 2.0

I have recently read a bunch of articles like "[There's no such thing as an optional dependency](https://php-and-symfony.matthiasnoback.nl/2014/04/theres-no-such-thing-as-an-optional-dependency/)" that assert having "suggested dependencies" is difficult from the cons

[2017-05-02 07:41] cedricziel commented on #921
Hmm. Interesting. While I think that's true, those dependencies (especially the ones in the linked comment) are really optional to the user from the point of view where we still provide a functional bundle.

If we split, people will inevitably ask why their feature is not available as well - I don't think that would change much.

Just my 2cts, but I think a split would produce such optional depend

[2017-05-03 14:08] robfrawley commented on #918
The above-detailed functionality has been merged into the core in PR #920, you can use it immediately by requiring `dev-master` in your composer file, or you can wait for the next release `1.7.5`. Thanks for finding this notable shortcoming in the default provided filter implementations @qweluke!

[2017-05-04 11:25] Koc commented on #885
done in #914

[2017-05-05 06:28] yamilovs commented on #568
@polantis
You can make a workaround, like this:
[code]

It will replace [schema]://[amazon_url]/[bucket_name] with [https:/]/[bucket_name]

[2017-05-06 00:06] kojiDev opened #923 "Route mismatching (500) if imagine_filter piped to an empty string."
Bug
Imagine Bundle Version: 1.7.4

Hi, so I try to generate a thumbnail and since there's an option default_image I expected it to appear when there was no path provided for filter:
[code]
in this case avatar is `null` and instead of getting default image I'm getting 500:

Is it supposed to behave this way? Because if I just make up a path it WILL render default image.

[2017-05-06 00:54] robfrawley commented on #923
The path is not only passed between the `imagine-bundle` components but the Symfony routing component as well. The error your described is thrown from the latter and simply allowing an empty route path regular expression doesn't seem to resolve the issue.

[2017-05-06 04:16] robfrawley opened #924 "Symfony Flex Recipe"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.x

I've created an initial stab at a [Symfony Flex](https://github.com/symfony/flex) contributor [recipe](https://github.com/symfony/recipes#symfony-recipes), which I'll be submitting. Take a look at [my fork of the contributor recipe repo](https://github.com/robfrawle

[2017-05-06 06:52] kojiDev commented on #923
robfrawley, yeah I see that it works this way, if file doesn't exist it gives default, but for me it seems pretty clear there should be the same behavior on `''` or `' '` or `null`, if not then `ImageCacheManager::getBrowserPath` has to inform everybody about his contract (Checking for empty and throw an exception), but again I don't think it's expected behavior, the only reason I would keep it is

[2017-05-06 06:54] kojiDev commented on #923
also checking for null in every view where I want to put image and if it is null render default image when I already have it in my config specially for this filter set is kinda boring

[2017-05-06 16:08] antoligy commented on #924
Great idea, and the recipe you've submitted looks like a good starting point too (We don't want to overcomplicate/prematurely overconfigure if this is a potential entrypoint for new users!).  I've posted a comment about the issue raised by the PR checker.

LGTM!

[2017-05-06 16:10] antoligy commented on #921
Subtree split, so we distribute separately?  I'm a little worried about the few of us trying to maintain a greater number of repositories, unless we refer everything back to this one?

[2017-05-06 16:14] lsmith77 commented on #921
I see this topic mostly from a maintainer point of view. I have very little sympathy for people that count lines in their vendor dir (though there is one dimension where I do see where such people come from if they actually code review every line of code in the vendor dir).

So to me splitting up only make sense if we can ease the in maintenance, by making it easier to give ownership to more peopl

[2017-05-06 16:39] robfrawley commented on #921
It seems the general view from @cedricziel and @antoligy is that this would greater maintenance for the already strained maintainers; a core requirement such a change would need to improve for both myself and @lsmith77. So, let's close this for the time being. Thanks for your thoughts everyone!

[2017-05-06 16:39] #921 closed

[2017-05-06 16:42] makasim commented on #921
IMO it does not worth it. The code we are about to split is too small (one or few classes). If we do that it would be harder for developers\maintainers to add features, fix bugs, do refactoring since we would have to introduce changes to several packages (install them, link, configure and so on).

For bigger things it might make sense though.

[2017-05-06 19:07] robfrawley commented on #923
Feel free to pursue option 3; I'm not against accepting such a pull request.

[2017-05-06 20:00] Koc commented on #924
@robfrawley why copy-paste and not just include bundle routing file inside `routing/imagine.yaml`?

[2017-05-06 20:23] robfrawley commented on #924
@Koc The original intention of using YAML in the Flex recipe was to lower the entry barrier for someone looking to, perhaps, edit the route paths; XML is generally more difficult for newcomers to follow or edit. Do we want to prioritize ease of use in the recipe or duplication removal?

[2017-05-06 20:30] robfrawley commented on #924
How does everyone feel about converting our XML to YAML so it can be easily used by the recipe in a user-friendly format, as well as used in the Flex recipe through the `manifest.json` file (instead of having two copies of it).

This question only applies to the `2.x` branch as we obviously cannot remove the XML in `1.x` and break everyone's prior usage. @Koc @antoligy Thoughts?

[2017-05-06 20:43] robfrawley commented on #924
@Koc Perhaps we can combine a few of your ideas to resolve this?

Let's change `imagine.xml` to import our new `imagine.yml` file on the `1.x` branch, and then remove the `imagine.xml` file on the `2.x` branch, giving us:

[code]

[code]

This will allow us to immediately benefit from the change by using the `manifest.json` file to copy the routing from the package, instead of duplicating it in th

[2017-05-06 20:44] Koc commented on #924
@robfrawley awesome idea - with BC, thank you

[2017-05-06 20:49] Pierstoval commented on #924
In your case, I suggest you to move your `2.x` routing files into two files, as you have only two routes.

The goal here is to allow users to customize both routes prefix instead of copy/pasting code.

For example, in my [OrbitaleCmsBundle recipe](https://github.com/symfony/recipes-contrib/pull/12/files#diff-1386b9ee763c35d5b7b926c599c03c7c) I just copy/paste the routing proposed by the doc, but a

[2017-05-06 21:25] robfrawley commented on #924
@Pierstoval The ordering was an error on my part in the YAML varient and was fixed already. Thanks for the extra eyes though, in case I hadn't caught it!

As for your other implementation description, I'm not sure I quite follow what you are trying to achieve or how it should be implemented.

[2017-05-07 08:26] rpkamp commented on #923
Or you could create a Twig macro, extension or include with the behaviour your described yourself:

[code]
This is quite easy since `user` is the only parameter. Given a clear name this also makes the intent very clear, plus if you ever wanted to change the behaviour of avatars you would only need to do so in one spot, instead of all over the place.

The easiest option for this use case is probabl

[2017-05-07 08:51] Pierstoval commented on #924
Clarify about what part exactly?

[2017-05-10 04:12] robfrawley opened #929 "Symfony documentation website versions selector issues"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes/no
| Imagine Bundle Version | 1.7 & 1.8 & 2.0

The Symfony documentation website, specifically [the `liip/imagine-bundle` section under `Bundles/`](http://symfony.com/doc/master/bundles/LiipImagineBundle/index.html), __incorrectly__ states version `1.3/master`, whereas it should display version `1.

[2017-05-10 07:25] javiereguiluz commented on #929
Thanks for reporting this issue. On symfony.com we can only list branches not tags, so we can't show the "1.7" version, but the "1.0" branch. I've changed the following:

### Before

![liip-imagine-before](https://cloud.githubusercontent.com/assets/73419/25887457/8d429c90-3562-11e7-81ac-6ca94fd12c7b.png)

### After

![liip-imagine-after](https://cloud.githubusercontent.com/assets/73419/25887463/91

[2017-05-10 14:09] robfrawley commented on #929
Thanks so much @javiereguiluz!

[2017-05-10 14:09] #929 closed

[2017-05-10 14:11] javiereguiluz commented on #929
Note: this has been merged on the symfony.com repo but it could take a bit until is deployed on production.

[2017-05-10 14:16] robfrawley commented on #929
I figured as much; no worries, and appreciate the quick turn around on this.

[2017-05-12 15:44] stephanvierkant commented on #784
jeroendesloovere's solution worked for me. (using Apache)

[2017-05-19 15:25] StefanGlaesser opened #936 "Working example for remote images via http?"
Hello,

I need an working example for symfony 3.2 with custom data loader and custom cache. I've found nothing about that in documentation. My project needs to fetch the images through http [file_get_contents($remotePath)] and then cache them localy, before displaying it.

Can anyone provide such an example please?

[2017-05-19 20:10] robfrawley commented on #936
You can find information on [custom data loaders](http://symfony.com/doc/current/bundles/LiipImagineBundle/data-loaders.html#custom-data-loader) and [custom cache resolver](http://symfony.com/doc/current/bundles/LiipImagineBundle/cache-resolvers.html#custom-cache-resolver) in the documentation. I also suggest checking out the [documentation index](http://symfony.com/doc/current/bundles/LiipImagine

[2017-05-20 21:01] kironet opened #938 "Retina"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | last one

Hey,

is it possible to somehow intergrate retina support?
If retina show double size.

Or how to generate 2 images.
first one car.jpg
second one car@2x.jpg

Thanks

[2017-05-20 21:13] robfrawley commented on #938
At the moment, you can just define two separate filter sets for normal and retina displays.

[2017-05-20 21:30] kironet commented on #938
@robfrawley thank. Sorry, but how to generate two images with different name
car.jpg nad car@2x.jpg?

Right now i'm doing it like it is shown in documentation:

`<img class="replace-2x" src="{{ asset('/path/to/car.jpg') | imagine_filter('thumb') }}" />`

Thanks

[2017-05-20 21:38] #938 closed

[2017-05-21 22:23] robfrawley commented on #924
Anyone chummy with a @symfony core member? We need either one of them or a @liip organization member to approve symfony/recipes-contrib#14 for it to be automatically merged by @symfony-bot. Perhaps @lsmith77 can help? Anyone know someone else? For the time being our PR will remain open and unmerged until we find someone to help with this. :-(

[2017-05-22 08:05] garak commented on #873
I moved all my active project and all the libraries/bundles I maintain to php>=7.0 a few months ago
I think we need a general initiative to push people, that are still afraid to upgrade, to take such step.
We already seen that in the past, when upgrading to php 5.3

[2017-05-23 01:01] robfrawley commented on #873
FYI: We actually made the decision to require PHP `>=7.0` and Symfony `>=3.0` in #908, so I agree 100% with your assertion we need to apply pressure on the community to upgrade to modern release and the aforementioned PR reflects this belief.

@antoligy @cedricziel @rpkamp @Koc I wanted to also check with those active in this project about the prospect of following Symfony and pushing the PHP requ

[2017-05-23 01:06] robfrawley commented on #873
Just wanted to note, as well, that since we've already required users upgrade to PHP `7.0` for our `2.x` branch, **that** is the hard upgrade for some users who might be running `5.3` or something similar. The move from `7.0` to `7.1` doesn't carry the same difficulty for our users, as they don't have to migrate their code in the same way they may have needed to do for their migration from `5.x` t

[2017-05-23 04:34] makasim commented on #873
7.1 sounds good to me.

[2017-05-24 08:22] #924 closed

[2017-05-30 10:34] leroy0211 opened #944 "Images that have not yet been generated will cause a redirect loop in <img> html"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | ^1.8

When a filtered image is generate from inside an html `<img />` tag it will cause a redirect loop. Because the browser caches the 301 response. It's not the code that generated the redirect loop.

The `RedirectResponse` removes the `cache-control` header on 301 resp

[2017-05-30 10:39] makasim commented on #944
I don't think changing 301 to 302 is a good solution. The 301 will instruct the browser not to go to the old URL (the controller) and always use the cached static image.

The problem has to be investigated and another solution found.

[2017-05-30 10:54] trsteel88 commented on #944
It shouldn't cause a redirect loop? The 301 is going from _/media/cache/**resolve**/path.jpg_ to  _/media/cache/path.jpg_

[2017-05-30 11:03] leroy0211 commented on #944
I think I know where my issue comes from.
I changed the routing to `/media/image/{filter}/{path}` and that controller redirects me to the same URL.
Because nginx is configured to use the static file first that should work without touching any PHP.

I wanted to achieve 1 single URL for each image, because it's wrong in SEO perspective to have multiple url's for a single image, although the "primary

[2017-05-30 11:12] trsteel88 commented on #944
There shouldn't be an SEO issue as it is a 301 redirect. Google should follow the redirect through and only index the 200 response code.

The resolve path is only displayed while there is no cache. As soon as the cache is generated the html will return absolute path to the image.

[2017-05-30 11:51] leroy0211 commented on #944
I think I'm reverting the change in the route url, and resolve them in PHP. So I would never get the `/resolve` url. It's because I'm using `LiipImagine` as API to upload images, and cannot work with multiple url's in my app. I thought that `getBrowserPath` always returned the `/resolve` url even if it already was generated.

But thanks anyway for clearing up my issue!

[2017-05-30 11:51] #944 closed

[2017-05-30 12:13] adm-bome commented on #944
![selection_079](https://cloud.githubusercontent.com/assets/11626777/26582555/f615df40-4541-11e7-9684-0a16323a5cf9.png)

[2017-05-30 12:46] makasim commented on #944
FYI: http://symfony.com/doc/current/bundles/LiipImagineBundle/resolve-cache-images-in-background.html

[2017-06-10 09:23] winzou opened #948 "Best practice for a filter_set with multiple DataLoader"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | yes
| Imagine Bundle Version | 1.7.1

Hello,

I have a usecase where I need to apply the same filters on the images coming from 2 different data loader:
* A Stream loader, Gaufrette, where user-uploaded images are
* A Filesystem loader, where some static images are

What is the best practice to apply th

[2017-06-19 14:52] jrswgtr opened #952 "use base64 as source?"
Is there a way to use base64 as source? I tried this, but it gives a broken image (the usr.picture variable is a base64 encoded image).

`<img class="avatar" src="{{ usr.picture|imagine_filter('single_obs') }} />`

[2017-06-20 02:26] robfrawley commented on #952
By default, you are using the file system data loader, which obviously expects to load the data from the file system. To support passing a base64 string representing the image, I'd start by registering a [custom data loader](http://symfony.com/doc/current/bundles/LiipImagineBundle/data-loaders.html#custom-data-loader):

[code]

Then register the data loader in your service configuration file:

[co

[2017-06-20 06:03] robfrawley commented on #948
Give #953 a try and let me know how it works for you.

[2017-06-20 06:59] jrswgtr commented on #952
thank you for your very specific answer!

[2017-06-20 08:15] jrswgtr commented on #952
I used your example above but then I get this message in the console:

`Failed to load resource: net::ERR_EMPTY_RESPONSE`

You are were saying something about additional custom components. What should I think of?

Thanks in advance!

[2017-06-21 10:02] annamakowskaespeo opened #954 "resizing don't coop with auto_rotation"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8.0

Hi! I'm trying to auto rotate image and then resize it. My problem is, that resizing filters (I tried many) don't coop with auto_rotate filter.

For example, I have taken vertical photo by phone. This photo is saved as horizontal image 640x480 that should auto rotat

[2017-06-22 14:23] pzaj2 opened #955 "Resolve image by url instead of filesystem path"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.2

Hi

I'm looking for information whether it is possible to resolve path based on provided URL? I'm not sure how to explain it, so let me do this using an example. I have a route: `https://example.org/uploads/{identifier}`, that leads to a controller which:
1. Check p

[2017-06-22 15:46] robfrawley commented on #955
Reference the [custom data loader](http://symfony.com/doc/master/bundles/LiipImagineBundle/data-loaders.html#custom-data-loader) documentation.

[2017-06-23 05:11] ryancastle commented on #780
This is quite messy to resolve if you're deploying to a large number of servers. And it's made trickier if you are using symlinks to achieve atomic-ish deployments.

**config.yml**
[code]

**parameters.php**
`$container->setParameter(
    'liip_imagine.data_root',
    dirname(realpath(__DIR__ . '/../../web/uploads'))
);
`

[2017-06-23 07:18] SManAT commented on #850
I'm having the sam problem, tx for the explanation. I've never understood that issue.
Maybe someone can explain further how to solve this problem.
@msalsas : where did u place the function, can you clearify it to me ?
@ghostal : Changing ImagineController is not permanent, no?

Tx all!

[2017-06-23 09:16] robfrawley commented on #780
I'm not sure what your exact issue with configuration is, can you elaborate further? The `data_root` option exists as we need to define a root path that constricts where you can load image files for two important reasons:

1. So we know where to look for images, and
2. So images aren't loaded from anywhere on the disk without authorization

The configuration of the `liip_imagine.loaders.default.fi

[2017-06-23 09:30] robfrawley commented on #850
Symfony supports a plethora of cache-busting techniques natively, namely through the `asset()` Twig function and the corresponding [version](http://symfony.com/doc/current/reference/configuration/framework.html#reference-framework-assets-version), [version_format](http://symfony.com/doc/current/reference/configuration/framework.html#reference-assets-version-format), and [json_manifest_path](http:/

[2017-06-23 11:03] SManAT commented on #850
right, didnt see the wood because of all the trees ;)

[2017-06-25 09:42] pzaj2 opened #956 "PDF thumbnail generation"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 2.7.2

Hello

I would like to know whether PDF thumbnail generation is supported by this bundle in any way? I didn't find anything in documentation and I'm not very familiar with bundle nor Imagine internals, so I thought of asking. I believe this question has two parts, o

[2017-06-25 10:56] #955 closed

[2017-06-25 16:22] robfrawley commented on #956
[Imagine](https://imagine.readthedocs.io/en/latest/), the underlying library used by this bundle, uses one of three drivers, "gd", "imagick", or "gmagick", which are PHP extensions. While I know "imagick" and "gmagick" can read in PDFs, I believe "gd" can as well. File version support will, however, be constrained by the driver you use. See the documentation for [gd](https://secure.php.net/manual/

[2017-06-25 16:48] pzaj2 commented on #956
thank you @robfrawley these are the thing I'm aware of already. I'm actually looking for a configuration reference that would allow such PDF -> jpg thumbnail generation or, if LiipImagine does not have buil-in support for that, any suggestions of how to implement this. I know how to do this with imagick in vanilla PHP, but I'm not that familiar with Imagine's internals and relation between all the

[2017-06-27 14:40] cedricziel commented on #956
Most webservers are configured to add headers by file extension. I think what you want is not possible in `LiipImagineBundle`s current state, since we rely heavily on the correctness of file extensions for everything we do.

All you could do is to either modify the existing namers, loaders and resolvers to be able to use a file extension such as `*.pdf.jpg`. To have pseudo-correct file names for r

[2017-06-27 21:32] robfrawley commented on #956
Give the following a try:

[code]

[2017-06-28 07:02] ryancastle commented on #780
@robfrawley The insecure `locator` might be what we need. I wasn't aware of that. It just broke during a `composer update`, and I couldn't see any other good options. In our instance, we are dealing with fairly isolated environments where we largely trust the symlinks. It turns out the real difficulty was in calculating the home directory correctly provide consistent access to a `shared` directory

[2017-06-28 08:21] pzaj2 commented on #956
@cedricziel to be honest, I would think that the browser checks mime type of the file before opening it, but apparently it does not.

Well, for now I found an ugly workaround that works just fine, but I thought there was a proper way for LiipImagineBundle. Anyway, if anyone would like to use similar approach:

1. Replace the extension on the path BEFORE passing to twig filter (or however you pass

[2017-06-28 08:24] cedricziel commented on #956
Well, it does - if the mime type is generic such as `application/octet-stream`, but if the headers are specific, why should the browser bother ? :)

[2017-06-28 08:27] pzaj2 commented on #956
@cedricziel
You're probably right, but doesn't this create a vulnerability where you can prepare a file to be recognized as another type and try to run arbitrary code in browser? Of course I'm just thinking loud, I suppose browsers are secured in case of this. Anyway, I will stick to my solution for now and perhaps when I have a bit more time I will dive deeper into bundle's internals and try to f

[2017-06-28 08:50] #956 closed

[2017-06-28 09:02] cedricziel commented on #956
Sure thing - there have been such attacks in the past and that's why encryption is vital to every part of the web and we need to enforce it with every breath we take :)

[2017-06-28 16:59] robfrawley commented on #780
Providing the shared data path as an environment variable is a great idea. As for the locator changes, we became aware of security issues with our previous algorithm, so as of `1.7` the locator is much more strict, whereas the `filesystem_insecure` locator reverts to `1.6` behavior.

Also, be sure to reference the `UPGRADE.md` file in the repository root if you experience any future upgrade diffic

[2017-06-29 13:58] akrz commented on #846
For anyone looking the less secure option:

liip_imagine :
  loaders:
    default:
      filesystem:
        locator: **filesystem_insecure**

[2017-06-29 19:51] winzou commented on #948
Thanks, I went for the chained loader. It works like a charm!

[2017-06-29 19:51] #948 closed

[2017-06-30 04:10] robfrawley commented on #948
@winzou Glad that the new `chain` loader worked out well for you!

[2017-07-11 20:32] theredled opened #960 "FilesystemLoader : "not found image path" option."
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.0.0

Hi,
Problem: When a source image is not found, it makes a long Symfony request with no cache. When 100 images are not found are you're working on a local machine, it can be a nightmare.

Solution: Add an optional "not found image path" option. That image will replac

[2017-07-11 21:29] robfrawley commented on #960
See our[ configuration reference](https://symfony.com/doc/current/bundles/LiipImagineBundle/configuration.html) for the `default_image` option which already allows you to return a default image when the requested one is not found. For example, you can configure a default image by adding the following to your application configuration:

[code]

Also, creating a custom data loading is [easy and well

[2017-07-11 21:32] theredled commented on #960
Oh, fine for `default_image`.
Creating a custom data loading is indeed easy, but override existing ones (to make custom ones) seems very tricky.

[2017-07-12 09:24] theredled commented on #960
Unfortunately using `default_image` is not solving the performance issue:
- Generate the path to a cache path that doesn't exist
- Client loads that path
- A full SF request is done, which eventually redirects to `default_image` (with is an absolute URL)
And next time with the same image : same long process.

Maybe I'm missing something ?

[2017-07-12 10:09] Hashiko opened #961 "Yaml file extension"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | yes
| BC Break Report? | yes
| RFC? | no
| Imagine Bundle Version | 1.8.0

The .yaml extension is not supported in Symfony 2.4 and 2.5. The extension of the yaml configuration files and routing files should have the .yml which is supported by all Symfony version since its introduction.

[2017-07-12 15:18] robfrawley commented on #960
I don't believe the issue you described is part of the loader; it is instead due to other architectural decisions made during the development of this library. Regardless, setting up a custom `FileSystem` loader should be achievable using something like the following:

[code]

[code]

[code]

[2017-07-12 16:14] robfrawley commented on #961
Symfony `2.4` and `2.5` are EOL, and have been since January 2015 and July 2015, respectively (meaning they haven't received any backported features or security fixes since them, and should not, IMHO, be used in production). We currently support Symfony `2.3`, `2.7`, `2.8`, and `3.x`.

[2017-07-12 16:33] robfrawley commented on #961
As a note, regardless of our official support, the project *may* work with other versions of Symfony. In the case of `2.4` and `2.5`, you can simply directly include the contents of [Resources/config/routing.yaml](https://github.com/liip/LiipImagineBundle/blob/1.0/Resources/config/routing.yaml) in your `app/config/routing.yml` file manually, instead of including it.

[2017-07-13 13:08] PeterZhukov opened #962 "Resolve cache images in background not working"
I did everything that is written in this instruction:
[Resolve cache images in background](http://symfony.com/doc/current/bundles/LiipImagineBundle/resolve-cache-images-in-background.html)
My config:
[code]

in controller:
[code]

Then in console (Windows) I do:
[code]

Messages are saved to:
[code]
but console command watches:
[code]
file.

Output:

[code]

[2017-07-14 13:37] makasim commented on #962
@PeterZhukov what version of the imagine bundle and enqueue are you using?

[2017-07-14 13:51] PeterZhukov commented on #962
@makasim:
[code]
I changed config to:
[code]
and everything worked, except that later it thows exception, that `ContainerAwareProcessorRegistry` needs` Interop\Queue\PsrProcessor`, but gets `Liip\ImagineBundle\Async\ResolveCacheProcessor` that implements `Enqueue\Psr\PsrProcessor`.

I think bug is in documentation, for example there is no such article for 2.0 version(Resolve cache images in backgr

[2017-07-14 13:57] makasim commented on #962
You have to use enqueue-bundle 0.5.x as well

[2017-07-14 13:57] makasim commented on #962
You can find doc for 2.x here: https://github.com/liip/LiipImagineBundle/blob/2.0/Resources/doc/resolve-cache-images-in-background.rst

[2017-07-14 14:05] makasim commented on #962
The router_topic causing some problems, we will change it to default so it works from the beginning

[2017-07-14 14:23] PeterZhukov commented on #962
@makasim very thanks, now with my last config:
[code]
everything worked fine.
composer.json packages:
[code]

[2017-07-14 14:23] #962 closed

[2017-07-21 13:53] sujayjaju commented on #749
I am seeing the same issue. Using imagick module  3.1.2 and ImageMagick 6.7.7

How can I help debug?

[2017-07-21 13:58] sujayjaju commented on #749
Found out that the generated cache file is encoded as a Jpeg but has a .svg extension. Does that help?

[2017-07-25 11:12] pengend opened #964 "Rotate PNG files"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.7.3

Hello,

I tried to rotate an PNG file with transparent area using GD driver, and the area becomes black after the rotation. Then I read several posts about this issue, apparently some image manipulation functions must be executed before the rotation to keep the imag

[2017-07-25 19:02] robfrawley commented on #964
I'd be happy to review a PR amending the rotation filter!

[2017-07-25 22:23] antoligy commented on #964
Hey!  As a pointer to any possible contributors, would you mind sending through any information you already have about the issue at hand @pengend?

Cheers!

[2017-07-27 08:16] lucFM opened #966 "Force cache resolve ?"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | yes
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8.0

Hi, is there a way to force cache resolve ?
I would like to re generate all my thumbnails without remove them.

Thanks

[2017-07-27 09:30] pengend commented on #964
Yea, of course.

The private method createImage of the class `Imagine\Gd\Image`generates a image ressource which already allows manipulation with PNG image transparency.

`
        $transparent = imagecolorallocatealpha($resource, 255, 255, 255, 127);
        imagefill($resource, 0, 0, $transparent);
        imagecolortransparent($resource, $transparent);
`

if this method is not called, the prope

[2017-07-27 11:55] robfrawley commented on #966
I actually needed exactly the same thing recently and had amended the console command to accomplish it. I turned my temporary code into a proper pull request in #967 --- seeh ow that works for you with the added option `--force` (which will force the resolved image to be regenerated, regardless of cache). If you want to do this in a batch fashion, you can do something like:

[code]

[2017-07-27 11:57] robfrawley commented on #964
So, this is a change that needs to be reported to [avalanche123/Imagine](https://github.com/avalanche123/Imagine) then, right? Or is there something we can do in *this* bundle to resolve it?

[2017-07-27 13:21] pengend commented on #964
Right, my mistake, this should be reported to [avalanche123/Imagine)](https://github.com/avalanche123/Imagine).

[2017-07-27 13:28] robfrawley commented on #964
Please link to this issue from the new issue you create in the [avalanche123/Imagine](https://github.com/avalanche123/Imagine) repository. That way others who may experience the same issue can easily find and track progress. Thanks!

[2017-07-28 09:43] davidromani commented on #823
@faneca can you copy (or explain) how did you configure flysystem as a stream adapter, please?

[2017-07-28 10:03] faneca commented on #823
That was 8 months ago, so the memories aren't exactly clear but, for what I can recall, and if I'm reading my config correctly, *I'm not using stream adapters at all*.

Also, I'm not quite sure the concept exists in flysytem. Maybe you can take a look at additional bundles, like https://github.com/twistor/flysystem-stream-wrapper, for instance, but (**DISCLAIMER**) I never used it myself, so I'm i

[2017-07-28 10:21] davidromani commented on #823
Thanks for your answer @faneca

Well, indeed my problem is that I'm storing file uploads in a AWS S3 instance with VichUploaderBundle+Flysystem adapter.

I can obtain S3 stored URLs with this config well:
[code]

But Liip data loader it seems that can't undestand where is the image stored because it is building this cache resolve path:
http://<my_vhost>.dev/app_dev.php/media/cache/resolve/60x60/ht

[2017-07-28 11:14] faneca commented on #823
Well, that being the case, I'll drop here the relevant bits of my current
config, hoping it'd be of use to you.

I've used a few tricks, the "documentation" I added tries to explain them.

Some notes:

1. Had to remove some private bits, so even if I did my best to
give you a clean and working example, take into account it can contain errors.

2. I'm using the same bucket in AWSs3 for `prod` and `

[2017-07-29 07:52] davidromani commented on #823
@faneca many thanks for your detailed explanation, your time and your effort. Finally I could resolved it with this simple strategy (enough for my use case):

[code]

and S3 connector service:

[code]

The tricky part was understand how to tie VichUploader and LiipImage through the S3 Flysystem adapter, but finally I've done it quite simple and easy because I want to store Liip thumbnails in local

[2017-07-30 17:07] koxder opened #968 "web_path is not generating path correctly"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8.0

I have a problem when I am trying to get image from cache, I mean the first time is working fine and I get the image correctly, because the first time is not using the cache,  but in the second time, when I try to get the image I get an error:

 Because the path is

[2017-07-31 03:22] robfrawley commented on #968
Based on the configuration you showed above, the cache should be saved to `%kernel.root_dir%/../web/media/cache` in which case, the file should correctly resolve to `/media/cache/default_vertical_small/default/0001/01/25_default_vertical_small.jpg`.

[2017-07-31 07:08] koxder commented on #968
Yes, this is the path that I am getting, but I need to get a relative path to this route, I mean if I write directly in the function this path: /media/cache/default_vertical_small/default/0001/01/25_default_vertical_small.jpg  I face the error that I wrote, but if I try without common slash is working media/cache/default_vertical_small/default/0001/01/25_default_vertical_small.jpg

The exception i

[2017-07-31 08:11] robfrawley commented on #968
I just realized you are using [SonataMediaBundle](https://github.com/sonata-project/SonataMediaBundle) and if the exception is originating from that bundle, you should likely open an issue against that package. One thing that doesn't make sense though, is [line 47 of MediaController](https://github.com/sonata-project/SonataMediaBundle/blob/master/Controller/MediaController.php#L47) can't be throwi

[2017-07-31 09:21] koxder commented on #968
Full exception trace

[code]
Regarding exception in comment block, I am using version 2.2 in sonata media bundle so the error is not corresponding to a this comment block. The error is in liipImagineFilterAction , but thanks to you I realize that there are some changes in how this function is getting the file, so Maybe could be solved in latest versions. I am going to try to update my version, but

[2017-08-03 16:05] lstrojny opened #969 "Breaking change with 301 redirects and Symfony 3.2"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | yes
| RFC? | no
| Imagine Bundle Version | 1.7

Symfony 3.2 changes the default behavior for 301 redirects to no longer set cache headers (https://github.com/symfony/http-foundation/commit/6802c88a0d4998ccaca35df74a7f90124ccd03cc). Chrome for example caches 301 redirects when no specific cache header is specified

[2017-08-03 16:44] mablae commented on #837
Hello,

I am facing the same issue right now. I think the problem lies in the way the URL gets escaped?

My usecase is an inline  `<style>` tag to set the `background-image` URL via media queries.
The wrong encoding of the URL causes somehow to only the first filter element gets passed to the
`$runTimeConfiguration`

[2017-08-03 19:57] makasim commented on #969
I dont think it is correct. The cache image is generated and the new url must be used at all times. that's what 301 is for isn't it?

[2017-08-03 19:58] makasim commented on #969
the resolve controller should never ever be called once the cached image is created.

[2017-08-03 20:08] robfrawley commented on #969
The use of a `301` has always been a widely discussed topic; is there a reason we haven't simply allowed people to configure their preferred redirect type (a `301` or `302`)? There are use cases for calling the resolve controller every time.

That said, back to the original issue, I'm not sure a 302 is how we want to handle the default implementation; as stated, we don't want the resolve controlle

[2017-08-04 02:59] diriy commented on #784
@robfrawley could you please explain for those who can't find where to place this config to nginx, where should it be placed? Can't really figure it out...

[2017-08-04 03:02] indapublic commented on #784
@diriy Inside `server` section

[2017-08-04 03:13] diriy commented on #784
@indapublic , I understand it. But, unfortunately, it crashes everytime, I try to launch the server. my nginx config is the following:

`server {
    listen         %ip%:%httpport%;
    listen         %ip%:%httpsport% ssl;
    server_name    %host% %aliases%;

    ssl_certificate               "%sprogdir%/userdata/config/cert_files/server.crt";
    ssl_certificate_key           "%sprogdir%/userdat

[2017-08-04 04:00] indapublic commented on #784
@diriy `nginx -t` said anything?

[2017-08-04 04:02] robfrawley commented on #784
@diriy There are multiple mistakes in your example, for example you don't define a `root` for Symfony's context. Also, you should always run `nginx -t` (you may need to run that as `sudo`) to check your configuration syntax, as well.

I run my site on PHP-FPM using the FastCGI transport of Nginx. Here is a basic, working example:

[code]

[2017-08-04 07:17] lstrojny commented on #969
@robfrawley one alternative would be to set no cache headers for the 301 redirect. The issue is that the redirect goes to the same URL and therefore Chrome users will have 301s cached and run into infinite redirect loops.

[2017-08-04 07:37] makasim commented on #969
Do I miss something? The urls are not the same.

[2017-08-04 13:25] lstrojny commented on #969
@makasim depends on the configuration. We use the same URLs, which escalates the whole thing. We configure it so that `/image/foo.jpg` will use nginx to look up the format in a folder and if it’s not there fall back to the controller. We keep the URLs the same so that once the proper image is generated it can nicely live in the CDN under the proper URL and we can shortcut the whole controller danc

[2017-08-04 13:35] makasim commented on #969
@lstrojny  I see. it has to be configurable than.

[2017-08-04 18:21] lstrojny commented on #969
@makasim I wonder if configuring the status code is enough or if a ResponseFactory would be a good idea so that people can do crazy stuff if they need to.

[2017-08-04 19:06] makasim commented on #969
I've just realized that this is already possible. One can register a kernel response listener and do what ever they want there from changing the status only to replacing the whole response object with the new one.

[2017-08-04 19:12] robfrawley commented on #969
Makes sense; we should add an example of doing so to the RST documentation. In the meantime, why not introduce a configuration option for the redirect response type: many others have asked about using one redirect over the other for ages, and adding this option would solve a simple and common use-case. The custom event listener/subscriber shouldn't be required to change the redirect type, IMHO, bu

[2017-08-04 20:59] lstrojny commented on #969
Made it a simple setting for now. If a user wants more one can still overload the controller action

[2017-08-04 21:37] pdoreau opened #971 "Using a CDN and filters without cache"
| Q | A
| --- | ---
| Bug Report? | no
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8.0

I'd like to use filters with dataloaders and image manipulations but no caching. The controller would simply return the manipulated images as binary respone every time. The idea is to let my CDN store the response.

The advantages are :

 * get rid of resolvers compl

[2017-08-18 16:00] jorisros opened #976 "Could not load type "file" in symfony 3"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 2.0

After using the ImageType of the LiipImagineBundle in a form i receive the error 'Could not load type "file"'.

[2017-08-18 16:02] jorisros commented on #976
There is a pull request for solving this issue #975

[2017-08-18 18:15] tux240 commented on #971
Same issue for me

Any idea ?

[2017-08-21 12:19] afsharfarnia opened #977 "Thumbnail only show with "app.php" in url"
This is my first page URL with many images. I want to filter them with LiipImagineBundle and make their thumbnails.
http://fkcc.afshar/news

Unfortunately, thumbnails are not created. But when I add "app.php" to the URL, it works and I can see all thumbnails.
Like that: http://fkcc.afshar/app.php/news

What is the problem?

[2017-08-22 06:56] cedricziel commented on #977
It's most likely a problem with your rewrite configuration on the webserver. Many webservers like nginx have a standard rewrite configuration that short circuits requests when file extensions like `.jpg` or `.png` are encountered.

[2017-08-22 07:12] afsharfarnia commented on #977
Thanks for your answer.
My nginx configuration is like following. Please let me know which part must be changed?

upstream rayshp {
    server unix:/var/run/php/php7.0-fpm-RaySHP.sock;
}

server {
    listen      80 default_server;
    listen      [::]:80;

    server_name RaySHP.localhost www.RaySHP.localhost;
    root        /srv/www/RaySHP/web;

    tcp_nopush on;
    tcp_nodelay on;

    serve

[2017-08-22 07:22] cedricziel commented on #977
What's in that inlcuded snippet?

[2017-08-22 07:35] afsharfarnia commented on #977
Its as following:

gzip                    on;
gzip_http_version       1.1;
gzip_types
    # text/html is always compressed by gzip module
    text/css
    text/javascript
    text/xml
    text/plain
    text/x-component
    application/javascript
    application/x-javascript
    application/json
    application/ld+json
    application/manifest+json
    application/x-web-app-manifest+json
    appl

[2017-08-22 08:24] afsharfarnia commented on #977
I deleted this line:
`include snippets/RayGZIP.conf;`

But I have still that problem.
Please help me to solve that.

[2017-08-23 10:09] mmp4k opened #978 "ChainLoader is not part of any tag"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8

Hi guys,

version 1.8 (the newest) doesn't contain ChainLoader.php, so it's not possible to use when you install bundle by composer.

[2017-08-24 20:42] antoligy commented on #978
Hey @mmp4k!

Thanks for reporting.  This is actually intentional as we haven't yet released 1.9, of which the ChainLoader will be a part.

Cheers!
Alex

[2017-08-24 20:42] #978 closed

[2017-08-28 12:18] Luc45 commented on #591
Same issue here

[2017-08-28 14:00] pbabar opened #980 "Not working for https"
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.8.0

After using imagine_filter like below
[code]

I get image url like
http://sitedomain.com/media/cache/user_small/images/default.jpg
I want
**https**://sitedomain.com/media/cache/user_small/images/default.jpg

My configurations are
config.yml
[code]

[2017-08-29 13:40] theredled commented on #960
Works with following Loader:
[code]
services.yml:
[code]
config.yml:
[code]

However, that feature should be in the native code IMO : massive performance improvement.

[2017-08-30 21:05] robfrawley commented on #960
The "default image" handling is outside the responsibility of the data loader, IMHO.

[2017-08-30 23:01] robfrawley commented on #980
The cache manager simply [requests an absolute URL from the symfony router component](https://github.com/liip/LiipImagineBundle/blob/1.0/Imagine/Cache/CacheManager.php#L196). We don't specify the schema ourselves anywhere. Symfony's router component will generate a route matching the schema of the current master request.

[2017-08-30 23:03] robfrawley commented on #976
Closed via #975.

[2017-08-30 23:03] #976 closed

[2017-08-30 23:07] robfrawley commented on #980
Also, this comment may be of use: https://github.com/liip/LiipImagineBundle/issues/743#issuecomment-242328260.

[2017-08-30 23:09] robfrawley commented on #977
See the following comment for a working Nginx example: https://github.com/liip/LiipImagineBundle/issues/784#issuecomment-320150743.

[2017-08-30 23:14] robfrawley commented on #978
@mmp4k To clarify, the docs get build automatically whenever changes are merged, not when changes are released under a new tag. The documentation tracks the `1.0` and `2.0` branches, and nothing else.

[2017-08-30 23:15] robfrawley commented on #971
Can't you simply implement your own null-cache? We support custom cache implementations, so you should be able to handle this however you'd like using the current architecture, no?

[2017-08-31 00:26] robfrawley commented on #969
Resolved via #970.

[2017-08-31 00:26] #969 closed

[2017-08-31 10:59] pdoreau commented on #971
@robfrawley cache resolvers are supposed to store manipulated images somewhere but I'd like to store nothing neither provide a resolved string.
So how can I implement a null-cache in such way image manipulation are done for every calls ?

[2017-08-31 13:04] disruptual-augustin commented on #743
Only works on an online prod server not locally (no ssl)
How to manage the https only in prod?

[2017-08-31 13:23] antoligy commented on #743
Symfony has support for environments natively, you could import one set of configuration for development and another for production environments.  This works quite well even in containerised environments: https://symfony.com/doc/current/configuration.html#environments-the-other-config-files

[2017-09-01 07:20] cedricziel commented on #743
I've struggled with separating https routes for dev and prod as well. My approach is to keep dev/prod parity with a local letsencrypt certificate through acme.sh and the dns challenge.

Every development machine has a subdomain `projekt-name.$machine.companydomain.net` - that way it's easy for us to have automated tls certificates through letsencrypt for our development environments. Keeps away a

[2017-09-01 08:11] augustinfla opened #984 "Why is the image rotated automatically?"
| Q
| Bug Report? | yes/no ?
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.*

Hello

I do not understand why with this config liip, returns me the image in portrait mode.

Basically I have a picture in portrait mode and once the thumbnails generated it ends up at a 90 ° rotation why?

I tried deleting the auto_rotate but it does not change the problem how

[2017-09-01 15:37] dkuss commented on #784
I just encountered the same problem on an Apache Server. My config worked fine on my local development machine, but on the server the thumbnails were not generated and the "resolve" path showed up in the path to the thumbnail image.

Now i know that the "resolve" path is a hint for the bundle that there is no cached image yet and needs to be generated. If there IS a ached thumbnail this path will

[2017-09-01 20:47] robfrawley commented on #984
You were right to remove the `auto_rotate` directive, but you also have to *delete the cached image* or it will not be regenerated.

[2017-09-02 23:58] robfrawley commented on #980
Has your issue been solved?

[2017-09-04 08:10] disruptual-augustin commented on #984
Yes the cache is well drained but the rotate is still active on some photo...
What is strange is that the same photo is sometimes rotate and other times no... Totally random...

[2017-09-05 06:03] robfrawley commented on #984
Why don't you add one filter at a time and figure out which is causing your issue? It should be fairly easy to detect. Start with
[code]

And work your way through adding the rest one by one:

[code]

Then, perhaps, we can look at the implementation of a filter and figure out why it is behaving as you describe.

[2017-09-05 07:51] augustinfla commented on #984
Ok, I just did the test here is the config very simplistic ... And the problem is still there
I just saw that the version of GD is the version LibGD 2.1.0 final release but no update on debian ...

`liip_imagine:
    resolvers:
       default:
          web_path: ~

    filter_sets:
        cache: ~
        view_thumb:
            quality: 75
            filters:
                thumbnail: { size:

[2017-09-05 08:18] robfrawley commented on #984
If the issue is caused by the thumbnail filter, it isn't due to anything we perform in this bundle. See the call made in our filter at [ThumbnailFilterLoader.php#L55](https://github.com/liip/LiipImagineBundle/blob/1.0/Imagine/Filter/Loader/ThumbnailFilterLoader.php#L55), which shows how we create a thumbnail using the [`Thumbnail`](https://github.com/avalanche123/Imagine/blob/develop/lib/Imagine/F

[2017-09-06 08:49] robfrawley commented on #980
@pbabar Did any of the options I mentioned above resolve your problem? Can this issue be closed?

[2017-09-06 08:54] robfrawley commented on #977
@afsharfarnia Are you still experiencing any problems or can this issue be closed?

[2017-09-06 09:01] robfrawley commented on #971
Right, I answered without thinking: the architecture requires you store the initial manipulated image somewhere, as it is not directly served by the same route as it is created.

[2017-09-06 09:10] robfrawley commented on #966
An option to force resolution (regardless of the cache state) has been added to the console command (with the addition of the `--force` CLI option) as #967 for the `1.x` branch (merged) and #981 for the `2.x` branch (in review).

[2017-09-06 09:10] #966 closed

[2017-09-06 09:13] robfrawley commented on #923
@kojiDev Closing due to lack of activity. Feel free to re-open if you have additional information or otherwise would like to pursue this again.

[2017-09-06 09:13] #923 closed

[2017-09-06 09:15] lucFM commented on #966
awesome !

[2017-09-06 09:16] robfrawley commented on #960
Closing this as the issue is resolved and we don't want to introduce this into the core.

[2017-09-06 09:16] #960 closed

[2017-09-06 09:17] robfrawley commented on #906
Closing due to lack of activity; feel free to re-open if you have additional information or otherwise want to further pursue this issue.

[2017-09-06 09:17] #906 closed

[2017-09-06 10:06] afsharfarnia commented on #977
In nginx configuration file, I deleted following sentence and it works.

[code]

[2017-09-06 10:07] #977 closed

[2017-09-06 15:20] pdoreau commented on #971
Well, the main issue is response time, which is slow when the response contains images urls. Indeed, storage backend calls has to be done for each images to check it they are cached or not.

I can cache those backend calls (with [flysystem-cached-adapter](https://github.com/1up-lab/OneupFlysystemBundle/blob/master/Resources/doc/filesystem_cache.md) for example) but I'm working with containers whic

[2017-09-06 16:16] niponika opened #987 "Process timeout"
| Q | A |
| --- | --- |
| Bug Report? | yes |
| Feature Request? | yes |
| BC Break Report? | no |
| RFC? | no |
| Imagine Bundle Version | 1.9.0 |

Hello,
First of all, it's the first time I ever do such a report, so please tell me if I forgot to include any element.
I encountered a problem when applying post processors to large files (OptiPNG & PNGquant specifically) . Symfony throws a ProcessTi

[2017-09-06 16:18] niponika commented on #987
Sorry, just saw that an issue was already opened for this. Please link it to #857

[2017-09-06 19:18] Danita opened #988 "[Command] New option shortcut collides with Symfony pre-3.x default option shortcuts, causing exception when running `cache:resolve` command"
| Q | A
| --- | ---
| Bug Report? | yes
| Feature Request? | no
| BC Break Report? | yes
| RFC? | no
| Imagine Bundle Version | 1.9.0

Hi! We're getting the following error when running `php app/console liip:imagine:cache:resolve -h` on an application built with Symfony 2.8:

[code]

This is new to 1.9.0, it doesn't happen with 1.8.0. Seems to be related to this pull request https://github.com/lii

[2017-09-07 05:15] robfrawley commented on #988
@Danita Thanks for the report. Looks like older versions of the Symfony console had a `--shell` option (which was assigned the short-notation `-s`). This was removed in `3.0`+ releases, and, aside from the automated testing of older Symfony releases (which do not bring in the default Symfony console options when building the test calls, and so would not throw an error as the conflicting options ar

[2017-09-07 05:24] robfrawley commented on #987
Closing as duplicate, but *please do* continue the discussion in #857.

[2017-09-07 05:24] #987 closed

[2017-09-07 06:09] robfrawley commented on #857
I'm working on a simple implementation that is compatible with the `1.x` branch (and by extension the `2.x` branch). It is actually relatively simple. More information to follow soon, as well as a PR. @antoligy I agree with your initial inclination that this is most useful when it can be configured individually for each post-processor. Currently, the implementation is as follows:

- No global time

[2017-09-07 07:10] Dannebicque opened #989 "Too Many Redirects and No generated Thumbnails"
Q | A
-- | --
Bug Report? | yes
Feature Request? | no
BC Break Report? | yes
RFC? | no
Imagine Bundle Version | 1.9.0

Hello,

I have some problems with this bundle.
I update my project on Symfony 3.3, and I use LiipImagine 1.9.

I have no thumbnail generated, and I have a "too many redirects" error on the inspector.

I have this link for the supposed generated thumbnail

GET http://localhost:8888

[2017-09-07 08:28] robfrawley commented on #989
@Dannebicque An initial page request will return a url containing "resolve" as that is actually a Symfony route used to generate the transformed image and cache it. Subsequent requests will not.

All the above is assuming that the "resolve" action is succeding, which in your case it isn't (you said the route returns a `404`, so it isn't a successful request. The most likely culprit is your web ser

[2017-09-07 09:09] proteichik opened #990 "Thumb does not store"
Hi.
I create web/media/cache folder and give permission 777 to it. But thumbnails does not storing. Maybe it permissions issue? What permission i need give to media folder?

[2017-09-07 09:57] Dannebicque commented on #989
Thanks for your answers.

I have, I think, found the solution in the issue #784.

I had theses lines in my Nginx configuration

    location /media/cache/resolve {
        try_files $uri @rewriteapp;
    }

[2017-09-07 10:09] proteichik commented on #990
fixed
it's nginx configuraton
I added
  location ~ ^/media/cache/.+\.(png|jpeg|jpg|gif)\$ {
            try_files \$uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /app_dev.php/$1 last;
    }

and all works fine

[2017-09-07 10:09] #990 closed

[2017-09-07 12:27] augustinfla commented on #984
Ok I understand, I'll see the imagine side.
Surely from a version of GD

[2017-09-08 15:18] robfrawley commented on #988
Just as a quick update, waiting on https://github.com/symfony/symfony/pull/24105#issuecomment-328130035 as it broke our test suite (and user-facing code) for `Symfony 2.7`.

[2017-09-08 15:30] Danita commented on #988
For now we can use 1.8.0 until the issue is solved. Thanks for your quick response, it's very appreciated! 😄

[2017-09-08 16:13] robfrawley commented on #988
If you have a moment, test the changes that should resolve this issue by running the following in one of your projects to fetch my latest work and run the CLI:

[code]

[2017-09-08 16:25] Danita commented on #988
Yes, it worked perfectly in our setup, thanks!

[2017-09-09 03:53] #988 closed

[2017-09-09 04:02] robfrawley commented on #988
@Danita The `1.9.1` release has been tagged with the fix you tested. Enjoy! And thanks for the bug report.

[2017-09-12 15:59] niponika commented on #857
For me this sounds like the best thing to do!

As in the current version, the post processor can't be used by any user who has heavy inputs, or low system config (like a cheap VPS).

There is something I have been thinking about, but that isn't really an emergency.
In the current situation, when a timeout happens, the call from the client to the image returns a 500 timeout error, the browser there

[2017-09-14 12:05] augustinfla commented on #984
The problem came from GD (2.1.0 compatible)
By passing on the version above or previous it works well otherwise in the filter "AutoRotateFilterLoader" you do not get getOrientation() returns null instead of a number, hence the problem ...

[2017-09-14 12:06] #984 closed

[2017-09-16 17:53] aimeric opened #994 "Gaufrette/Error retrieving credentials from the instance, Setup Aws s3 + liipImaginde + Gaufrette"
Hi,

I would like to upload pictures on Aws s3 , I have configure Liip and Gaufrette , but I 'm getting this error :

`An exception has been thrown during the rendering of a template ("Error retrieving credentials from the instance profile metadata server. (cURL error 7: Failed to connect to 169.254.169.254 port 80: No route to host (see http://curl.haxx.se/libcurl/c/libcurl-errors.html))") in "@S

[2017-09-16 23:04] Shoplifter opened #995 "Argument 1 passed to Liip\ImagineBundle\Binary\Locator\FileSystemLocator::__construct() must be of the type array, string given"
| Q | A
| --- | ---
| Bug Report? | yes?
| Feature Request? | no
| BC Break Report? | no
| RFC? | no
| Imagine Bundle Version | 1.9.1

I'm getting the above error message, when i am using a custum loader as described [here](http://symfony.com/doc/master/bundles/LiipImagineBundle/data-loaders.html#custom-data-loader) but with `FileSystemLocator` injected.

My configuration looks like:
services.yml

[2017-09-17 08:16] aimeric commented on #994
I have setup environment variable like this :

**config.yml**
`- { resource: "parameters_aws.php" }`

**parameters_aws.php**

[code]

Now I don't have anymore the first error,  I have this one:

[code]
_horizontalList_home.html.twig (line 46):

`{% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_latest_product_thumbnail')) %}`

[2017-09-19 16:23] robfrawley commented on #995
The "Locator" service is setup via the [`FileSystemLoaderFactory`](https://github.com/liip/LiipImagineBundle/blob/1.0/DependencyInjection/Factory/Loader/FileSystemLoaderFactory.php). When used outside the filesystem loader, you need to properly pass an array of data roots to the locator, as the error message describes.

[2017-09-19 16:28] robfrawley commented on #994
The error message is fairly explicit: the value of `AMAZON_S3_CACHE_BUCKET` is the bool `false` when it should be a string. This is the return value of `getenv` when the environment variable is **not** set.

[2017-09-19 21:03] aimeric commented on #994
@robfrawley , I did check and my environment variable are all set with correct information into the `parameter.yml `

my parameter.yml

    aws_access_key_id: "hidden"
    aws_secret_access_key: "hidden"
    aws_region: "eu-west-2"
    amazon_s3_version: "2006-03-01"
    amazon_s3_cache_bucket: "hidden"

[2017-09-19 22:03] robfrawley commented on #994
What about your `parameters_aws.php` file, then? That file would overwrite these values.

[2017-09-20 15:56] aimeric commented on #994
@robfrawley , I fixed the error, now I can retrieve the credentials and I can upload images to Aws s3. But the image are not render in twig template. The url look like this : `http://192.168.1.1/sylius/web/app_dev.php/fr_FR/media/cache/resolve/sylius_shop_product_latest_product_thumbnail/79/62/689e950e58f02072afb2e37c8f00.jpeg"`

but it should look something like this : `https://s3-eu-west-1.amazo